flows/Add_Ncr_Product_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>To refresh the page</description>
        <name>navNcr</name>
        <label>navNcr</label>
        <locationX>621</locationX>
        <locationY>50</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>showDone</targetReference>
        </connector>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>This Flow allows adding a Product to an NCR. This is done through a Flow because of the &apos;Quick Create&apos; issue with the Product2 lookup (https://success.salesforce.com/ideaView?id=0873A000000TvUBQA0). This flows allows selecting a Product for LERP companies, the ProductId is written to the Case. User has to manually refresh the page.</description>
    <formulas>
        <name>userImcdCompany</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!$User.ImcdCompany__c} )</expression>
    </formulas>
    <interviewLabel>Add_Ncr_Product_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add_Ncr_Product_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update the Product2</description>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>395</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>navNcr</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showFault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProductLocal__c</field>
            <value>
                <elementReference>selectedProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>showAddNcrProduct</name>
        <label>showAddNcrProduct</label>
        <locationX>229</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
        <fields>
            <name>msgInfo</name>
            <fieldText>Please associate or change the product for this Non-conformance report. The selected product will be displayed under the &apos;Case Details - Manual References&apos; section. 
&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcLookupProduct</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>selectedProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFiveRecent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>GroupFlag__c = false AND LocalCompany__c = &apos;{!userImcdCompany}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>FullSegmentsNumber__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProductId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showDone</name>
        <label>showDone</label>
        <locationX>847</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgDone</name>
            <fieldText>The Non-conformance request got updated successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFault</name>
        <label>showFault</label>
        <locationX>396</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgFault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>showAddNcrProduct</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
