flows/Create_Followup_Report_From_Opportunity_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignedQuoteLineFields</name>
        <label>assignedQuoteLineFields</label>
        <locationX>739</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuantitywithUOM__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplay__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stage__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>KeyOpportunity__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showQuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFollowupReport</name>
        <label>assignFollowupReport</label>
        <locationX>548</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>followupReport.InternalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputInternalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReport.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputExternalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReport.QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedQuoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReport.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedQuoteLine.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReport.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedQuoteLine.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numFollowupReports</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignFollowupReportToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFollowupReportToList</name>
        <label>assignFollowupReportToList</label>
        <locationX>548</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>lstFollowupReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>followupReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedQuoteLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionDataOk</name>
        <label>decisionDataOk</label>
        <locationX>1154</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>showIncorrecData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionDataOkFalse</defaultConnectorLabel>
        <rules>
            <name>decisionDataOkTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaInputOk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSelectedQuoteLines</targetReference>
            </connector>
            <label>decisionDataOkTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasQuoteLines</name>
        <label>decisionHasQuoteLines</label>
        <locationX>523</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>showNoQuoteLinesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasQuoteLinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasQuoteLinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstQuoteLine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignedQuoteLineFields</targetReference>
            </connector>
            <label>decisionHasQuoteLinesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedQuoteLine</name>
        <label>decisionHasSelectedQuoteLine</label>
        <locationX>939</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>showNoQuoteLineSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedQuoteLineFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedQuoteLineTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedQuoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showFollowupInputs</targetReference>
            </connector>
            <label>decisionHasSelectedQuoteLineTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionProjectOrOpportunity</name>
        <label>decisionProjectOrOpportunity</label>
        <locationX>187</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>getQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionOpportunity</defaultConnectorLabel>
        <rules>
            <name>decisionProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>projectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProjectQuoteLines</targetReference>
            </connector>
            <label>decisionProject</label>
        </rules>
    </decisions>
    <description>This Flow allows adding a Follow-up report to one or multiple selected Opportunity Quote lines.</description>
    <formulas>
        <name>formulaInputOk</name>
        <dataType>Boolean</dataType>
        <expression>AND (
    ( LEN({!inputExternalComments}) &lt; 1024 )
    , ( LEN({!inputInternalComments}) &lt; 1024 )
    , OR (
        ( LEN({!inputExternalComments}) &gt; 0 )
        , ( LEN({!inputInternalComments}) &gt; 0 )
    )
)</expression>
    </formulas>
    <interviewLabel>Create Follow-up Report From Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow-up Report From Opportunity Flow</label>
    <loops>
        <name>loopSelectedQuoteLines</name>
        <label>loopSelectedQuoteLines</label>
        <locationX>727</locationX>
        <locationY>556</locationY>
        <assignNextValueToReference>loopSelectedQuoteLine</assignNextValueToReference>
        <collectionReference>lstSelectedQuoteLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignFollowupReport</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createFollowupReports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createFollowupReports</name>
        <label>createFollowupReports</label>
        <locationX>732</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>showConfirmation</targetReference>
        </connector>
        <inputReference>lstFollowupReport</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getProject</name>
        <label>getProject</label>
        <locationX>50</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionProjectOrOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>projectId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProjectQuoteLines</name>
        <label>getProjectQuoteLines</label>
        <locationX>354</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasQuoteLines</targetReference>
        </connector>
        <filters>
            <field>ProjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>lstQuoteLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductDisplay__c</queriedFields>
        <queriedFields>QuantitywithUOM__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>KeyOpportunity__c</queriedFields>
        <sortField>SBQQ__ProductName__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Query SBQQ__QuoteLine__c for the Opportunity Id</description>
        <name>getQuoteLines</name>
        <label>getQuoteLines</label>
        <locationX>192</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasQuoteLines</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>lstQuoteLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductDisplay__c</queriedFields>
        <queriedFields>QuantitywithUOM__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>KeyOpportunity__c</queriedFields>
        <sortField>SBQQ__ProductName__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>showConfirmation</name>
        <label>showConfirmation</label>
        <locationX>967</locationX>
        <locationY>751</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgShowConfirmation</name>
            <fieldText>&lt;BR&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;That&apos;s a wrap! You created {!numFollowupReports} similar Follow-up reports for this Opportunity.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFollowupInputs</name>
        <label>showFollowupInputs</label>
        <locationX>948</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionDataOk</targetReference>
        </connector>
        <fields>
            <name>msgFollowupInputs</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Below are the Opportunity Quote Lines which you selected.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedQuoteLines</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>divStyle</name>
                <value>
                    <stringValue>height: 100px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstSelectedQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>msgInExternalComments</name>
            <fieldText>&lt;BR&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide the Internal and/or External comments. These will be added to all of the selected Opportunity Quote Lines. Maximum length of the text is 1024 characters. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputExternalComments</name>
            <defaultValue>
                <stringValue>{!inputExternalComments}</stringValue>
            </defaultValue>
            <fieldText>External Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>The External comments for your Follow-up report(s). Restricted to 1024 characters.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Length for Internal &amp; External comments shouldn&apos;t exceed 1024 characters, and either or both have be provided.</errorMessage>
                <formulaExpression>NOT({!formulaInputOk})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>inputInternalComments</name>
            <defaultValue>
                <stringValue>{!inputInternalComments}</stringValue>
            </defaultValue>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>The Internal comments for your Follow-up report(s). Restricted to 1024 characters.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Length for Internal &amp; External comments shouldn&apos;t exceed 1024 characters, and either or both have be provided.</errorMessage>
                <formulaExpression>NOT({!formulaInputOk})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showIncorrecData</name>
        <label>showIncorrecData</label>
        <locationX>1160</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showFollowupInputs</targetReference>
        </connector>
        <fields>
            <name>msgShowIncorrectData</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry, your data is not acceptable. Respect the length (1024 characters) or your Internal and/or External comments. Further either or both these should be provided.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoQuoteLineSelected</name>
        <label>showNoQuoteLineSelected</label>
        <locationX>1233</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoQuoteLineSelected</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoQuoteLinesFound</name>
        <label>showNoQuoteLinesFound</label>
        <locationX>533</locationX>
        <locationY>216</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoQuoteLinesFound</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry, but no Quote Lines where found...&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showQuoteLines</name>
        <label>showQuoteLines</label>
        <locationX>947</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionHasSelectedQuoteLine</targetReference>
        </connector>
        <fields>
            <name>msgShowQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Found below Quote Lines. Please select the relevant lines for which you&apos;d like to create a Follow-up report.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowQuoteLines</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>hasSelectedQuoteLine</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lstSelectedQuoteLine</assignToReference>
                <name>OUT_SBQQ__QuoteLine__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getProject</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>debug</name>
        <text>{!inputExternalComments}
{!inputInternalComments}
LEN({!inputExternalComments})
LEN({!inputInternalComments})
ISBLANK ({!inputExternalComments})
ISBLANK ({!inputInternalComments})</text>
    </textTemplates>
    <variables>
        <name>followupReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>hasSelectedQuoteLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopSelectedQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>lstQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstQuoteLineFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>numFollowupReports</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable storing the ID of the selected Opportunity.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
