flows/Create_Sample_Request_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>assignSampleRequestApex</name>
        <label>assignSampleRequestApex</label>
        <locationX>331</locationX>
        <locationY>867</locationY>
        <actionName>AssignSampleRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showFinalStep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showCreateError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>lstCase</name>
            <value>
                <elementReference>lstCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>assignError</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>assignSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addLstCase</name>
        <label>addLstCase</label>
        <locationX>821</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>lstCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addLstCaseDisplay</name>
        <label>addLstCaseDisplay</label>
        <locationX>824</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>lstCaseDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCase</name>
        <label>assignCase</label>
        <locationX>821</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>newCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AlternativeStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AlternativeCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AlternativePostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AlternativeCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AlternativeState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shipToState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.InternalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>internalCommencts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ExternalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.WarehouseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.UnitOfMeasurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LiteratureRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>literatureRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeIdSampleRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.PrincipalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__r.Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ProductNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__r.Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.UseMainAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>useMainAddressFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ShiptoAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccountShipToAddressId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.RelatedOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LOB1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountLob1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LOB2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountLob2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.LOB3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountLob3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.WarehouseInstruction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>warehouseInstruction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addLstCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Case Display object to show results before final creation.</description>
        <name>assignCaseDisplay</name>
        <label>assignCaseDisplay</label>
        <locationX>1031</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>newCaseDisplay.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseDisplay.ProductNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteLine.SBQQ__Product__r.Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseDisplay.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseDisplay.UnitOfMeasurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addLstCaseDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstAccountShipToFields</name>
        <label>assignLstAccountShipToFields</label>
        <locationX>1677</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>lstAccountShipToFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAccountShipToFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>City__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAccountShipToFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CountryLabel__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>useShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstContactFields</name>
        <label>assignLstContactFields</label>
        <locationX>195</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>lstContactFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ContactName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContactFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Roles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContactFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ContactEmail__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContactFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsPrimary__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContactFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IsActive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showAccountContactRelations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstProductFields</name>
        <label>assignLstProductFields</label>
        <locationX>535</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplay__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FullSegmentsNumber__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductStatus__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuantitywithUOM__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sample_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOverrideShiptoAddress</name>
        <label>assignOverrideShiptoAddress</label>
        <locationX>1283</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>shipToCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alternativeCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alternativeCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToPostalcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alternativePostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alternativeState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alternativeStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showFinalShiptoAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSampleRequestFields</name>
        <label>assignSampleRequestFields</label>
        <locationX>823</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>lstSampleRequestFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSampleRequestFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductNumber__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSampleRequestFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quantity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSampleRequestFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UnitOfMeasurement__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>confirmCreateSampleRequests</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultCountry</name>
        <choiceText>{!shipToCountryLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>shipToCountry</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultUnit</name>
        <choiceText>UN - unit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UN</stringValue>
        </value>
    </choices>
    <constants>
        <name>constId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Id</stringValue>
        </value>
    </constants>
    <constants>
        <name>constTextAttribute</name>
        <dataType>String</dataType>
        <value>
            <stringValue>text</stringValue>
        </value>
    </constants>
    <constants>
        <name>lblShiptoCitry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>City</stringValue>
        </value>
    </constants>
    <constants>
        <name>lblShiptoCountry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Country</stringValue>
        </value>
    </constants>
    <constants>
        <name>lblShiptoPostalcode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Postal Code</stringValue>
        </value>
    </constants>
    <constants>
        <name>lblShiptoState</name>
        <dataType>String</dataType>
        <value>
            <stringValue>State</stringValue>
        </value>
    </constants>
    <constants>
        <name>lblShiptoStreet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship-to Street</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decisionHasAccountshipToAddress</name>
        <label>decisionHasAccountshipToAddress</label>
        <locationX>1458</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>showAccountWithoutShipto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonHasAccountShipToAddressFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasAccountShiptoAddressTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstAccountShiptoAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLstAccountShipToFields</targetReference>
            </connector>
            <label>decisionHasAccountShiptoAddressTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLinesSelected</name>
        <label>decisionLinesSelected</label>
        <locationX>670</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>showNoLinesSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionLinesSelectedFalse</defaultConnectorLabel>
        <rules>
            <name>decisionLinesSelectedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedRow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedQuoteLines</targetReference>
            </connector>
            <label>decisionLinesSelectedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNoContacts</name>
        <label>decisonNoContacts</label>
        <locationX>33</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>assignLstContactFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionNoContactsFalse</defaultConnectorLabel>
        <rules>
            <name>decisonNoContactsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstAccountContactRelation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoContacts</targetReference>
            </connector>
            <label>decisonNoContactsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSelectedAccountShipto</name>
        <label>decisionSelectedAccountShipto</label>
        <locationX>1680</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>showNoAccountShipTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonSelectedAccountShiptoFalse</defaultConnectorLabel>
        <rules>
            <name>decisionSelectedAccountShiptoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedRow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedAccountShipToAddressId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountShiptoAddress</targetReference>
            </connector>
            <label>decisionSelectedAccountShiptoTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionUseMainAddress</name>
        <label>decisionUseMainAddress</label>
        <locationX>967</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>useOverrideAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionUseMainAddressFalse</defaultConnectorLabel>
        <rules>
            <name>decisonUseMainAddresssTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useMainAddressFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showFinalShiptoAddress</targetReference>
            </connector>
            <label>decisonUseMainAddresssTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionUseOverrideAddress</name>
        <label>decisionUseOverrideAddress</label>
        <locationX>1277</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>overrideShiptoAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionUseOverrideAddress</defaultConnectorLabel>
        <rules>
            <name>decisionUseAccountShipto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useAccountShiptoFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountShiptoAddresses</targetReference>
            </connector>
            <label>decisionUseAccountShipto</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisonChangeShipto</name>
        <label>decisonChangeShipto</label>
        <locationX>1067</locationX>
        <locationY>970</locationY>
        <defaultConnector>
            <targetReference>loopSelectedLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>deceisionChangeShiptoFalse</defaultConnectorLabel>
        <rules>
            <name>decisionChangeShiptoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>overrideShiptoAddress</targetReference>
            </connector>
            <label>decisionChangeShiptoTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisonHasSelectedContact</name>
        <label>decisonHasSelectedContact</label>
        <locationX>381</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>showContactRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedContactFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedRow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactId</targetReference>
            </connector>
            <label>decisionHasSelectedContactTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisonNoQuoteLines</name>
        <label>decisonNoQuoteLines</label>
        <locationX>375</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>assignLstProductFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonNoQuoteLinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionNoQuoteLinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstQuoteLine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoQuoteLines</targetReference>
            </connector>
            <label>decisionNoQuoteLinesTrue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistCountryCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>AccountShiptoAddress__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistLiteratureRequest</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LiteratureRequest__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistUnitOfMeasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnitOfMeasurement__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Sample Request created on &quot; &amp; TEXT({!$Flow.CurrentDateTime}) &amp; &quot; by &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Returns PrincipalId if it exists. Otherwise null. The Principal__c on the Product2 is available on sandboxes but points to no-existing Account.</description>
        <name>formulaPrincipalId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!quoteLine.SBQQ__Product__r.Principal__r.Id}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>recordTypeIdSampleRequest</name>
        <dataType>String</dataType>
        <expression>{!$Setup.RecordTypeIds__c.RTIDCaseSampleRequest__c}</expression>
    </formulas>
    <interviewLabel>Create Sample Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sample Request Flow</label>
    <loops>
        <name>loopSelectedLines</name>
        <label>loopSelectedLines</label>
        <locationX>1036</locationX>
        <locationY>859</locationY>
        <assignNextValueToReference>quoteLine</assignNextValueToReference>
        <collectionReference>selectedQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>collectAdditionalCaseInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignSampleRequestFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSampleRequests</name>
        <label>createSampleRequests</label>
        <locationX>498</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>assignSampleRequestApex</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showCreateError</targetReference>
        </faultConnector>
        <inputReference>lstCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>188</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountContactRelations</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountLob1</assignToReference>
            <field>Primary_LOB1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountLob2</assignToReference>
            <field>Primary_LOB2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountLob3</assignToReference>
            <field>Primary_LOB3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToCountryLabel</assignToReference>
            <field>ShippingCountryLabel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToPostalcode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountContactRelations</name>
        <label>getAccountContactRelations</label>
        <locationX>188</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionNoContacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>lstAccountContactRelation</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ContactName__c</queriedFields>
        <queriedFields>ContactEmail__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Roles</queriedFields>
        <queriedFields>IsPrimary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountShiptoAddress</name>
        <label>getAccountShiptoAddress</label>
        <locationX>1441</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>showFinalShiptoAddress</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountShipToAddressId</elementReference>
            </value>
        </filters>
        <object>AccountShiptoAddress__c</object>
        <outputAssignments>
            <assignToReference>shipToCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToCountryLabel</assignToReference>
            <field>CountryLabel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToCountry</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToPostalcode</assignToReference>
            <field>PostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToStreet</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shipToStreet</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAccountShiptoAddresses</name>
        <label>getAccountShiptoAddresses</label>
        <locationX>1681</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasAccountshipToAddress</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>AccountShiptoAddress__c</object>
        <outputReference>lstAccountShiptoAddress</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CountryLabel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContactId</name>
        <label>getContactId</label>
        <locationX>377</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteLines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountContactRelationshipId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>34</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>QuoteType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>quoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuoteLines</name>
        <label>getQuoteLines</label>
        <locationX>373</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisonNoQuoteLines</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>lstQuoteLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProductDisplay__c</queriedFields>
        <queriedFields>QuantitywithUOM__c</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>ProductStatus__c</queriedFields>
        <queriedFields>FullSegmentsNumber__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>collectAdditionalCaseInfo</name>
        <label>collectAdditionalCaseInfo</label>
        <locationX>1030</locationX>
        <locationY>744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCaseDisplay</targetReference>
        </connector>
        <fields>
            <name>msgProvideAdditionalData</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide additional data for product &lt;B&gt;{!quoteLine.ProductDisplay__c}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>quantityRequested</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>unitOfMeasure</name>
            <choiceReferences>defaultUnit</choiceReferences>
            <choiceReferences>picklistUnitOfMeasure</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultUnit</defaultSelectedChoiceReference>
            <fieldText>Unit of Measure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>literatureRequested</name>
            <choiceReferences>picklistLiteratureRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Literature</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>warehouseInstruction</name>
            <dataType>String</dataType>
            <fieldText>Warehouse Instructions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Data value too large (max length=255)</errorMessage>
                <formulaExpression>LEN({!warehouseInstruction}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>warehouseCode</name>
            <dataType>String</dataType>
            <fieldText>Warehouse Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Data value too large (max length=255)</errorMessage>
                <formulaExpression>LEN({!warehouseCode}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>internalCommencts</name>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>externalComments</name>
            <fieldText>External Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Data value too large (max length=1024)</errorMessage>
                <formulaExpression>LEN({!externalComments}) &lt; 1024</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirmCreateSampleRequests</name>
        <label>confirmCreateSampleRequests</label>
        <locationX>650</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createSampleRequests</targetReference>
        </connector>
        <fields>
            <name>msgConfirmCreateSampleRequests</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You&amp;apos;re almost there. Below Sample Request(s) will be created and assigned to the appropriate Sample stores. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showNewCaseDisplay</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IN_Case</name>
                <value>
                    <elementReference>lstCaseDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <elementReference>constId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstSampleRequestFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Sample_Request</name>
        <label>Create Sample Request</label>
        <locationX>537</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionLinesSelected</targetReference>
        </connector>
        <fields>
            <name>msgSelectedQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the items for which you would like to create Sample Requests.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LightningDatatableWrapper</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <elementReference>constId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedQuoteLines</assignToReference>
                <name>OUT_SBQQ__QuoteLine__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hasSelectedRow</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>overrideShiptoAddress</name>
        <label>overrideShiptoAddress</label>
        <locationX>1280</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignOverrideShiptoAddress</targetReference>
        </connector>
        <fields>
            <name>msgAlternativeShipto</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You selected to use an alternative Ship-to address for your Sample Request(s). Please provide the Alternative Ship-to Address details below.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>alternativeStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>shipToStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Data value too large (max length=40)</errorMessage>
                <formulaExpression>LEN({!alternativeStreet}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>alternativePostalcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>shipToPostalcode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Data value too large (max length=12)</errorMessage>
                <formulaExpression>LEN({!alternativePostalcode}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>alternativeCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>shipToCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Country cannot be &apos;-- None --&apos; or data value too large (max length=25) for City</errorMessage>
                <formulaExpression>AND (
    LEN({!alternativeCity}) &lt;= 100 
    , {!alternativeCountry} &lt;&gt; &apos;-- None --&apos;
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>alternativeCountry</name>
            <choiceReferences>defaultCountry</choiceReferences>
            <choiceReferences>picklistCountryCode</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCountry</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>alternativeState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>shipToState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>LEN({!alternativeState}) &lt; 50</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAccountContactRelations</name>
        <label>showAccountContactRelations</label>
        <locationX>193</locationX>
        <locationY>553</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisonHasSelectedContact</targetReference>
        </connector>
        <fields>
            <name>LoadPopupCSSStaticResource</name>
            <extensionName>c:PopupCssResourceComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>msgSelectContact</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You need to select a Contact for the Sample Request(s) which you are about to create. If you cannot find the appropriate Contact, please close the process here and add the Contact to the Account &amp;apos;{!accountName}&amp;apos;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accountContactRelations</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <elementReference>constId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_AccountContactRelation</name>
                <value>
                    <elementReference>lstAccountContactRelation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstContactFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedAccountContactRelation</assignToReference>
                <name>OUT_AccountContactRelation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hasSelectedRow</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccountContactRelationshipId</assignToReference>
                <name>selectedRowId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAccountWithoutShipto</name>
        <label>showAccountWithoutShipto</label>
        <locationX>1451</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>useMainAddress</targetReference>
        </connector>
        <fields>
            <name>msgAccountWithoutShipto</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Account {!accountName} does not have any Ship-to address. Either select the Account&amp;apos;s Main address or use the option to create an alternative Ship-to address. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showContactRequired</name>
        <label>showContactRequired</label>
        <locationX>376</locationX>
        <locationY>555</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showAccountContactRelations</targetReference>
        </connector>
        <fields>
            <name>msgContactRequired</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!msgSelectContact}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showCreateError</name>
        <label>showCreateError</label>
        <locationX>499</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFaultCreateCase</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An error occurred. Please review below, and if necessary contact your local administrator. &lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFinalShiptoAddress</name>
        <label>showFinalShiptoAddress</label>
        <locationX>1214</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisonChangeShipto</targetReference>
        </connector>
        <fields>
            <name>msgFinalShipToAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Sample Request(s) will be generated with the below Ship-to Address details. If needed you can still change it. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;blank&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmAddress</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you want to change this address?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Select this checkbox if you want to change any field of the presented Ship-to Address.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lcShiptoStreet</name>
            <extensionName>c:FlowOutputFieldComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>lblShiptoStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>constTextAttribute</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>shipToStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lcShiptoPostalcode</name>
            <extensionName>c:FlowOutputFieldComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>lblShiptoPostalcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>shipToPostalcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>constTextAttribute</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lcShiptoCity</name>
            <extensionName>c:FlowOutputFieldComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>lblShiptoCitry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>shipToCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>constTextAttribute</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lcShiptoCountry</name>
            <extensionName>c:FlowOutputFieldComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>lblShiptoCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>constTextAttribute</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>shipToCountryLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lcShiptoState</name>
            <extensionName>c:FlowOutputFieldComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>lblShiptoState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>shipToState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>constTextAttribute</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFinalStep</name>
        <label>showFinalStep</label>
        <locationX>183</locationX>
        <locationY>864</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgCreateCaseSuccess</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Sample Request(s) have been succesfully created! &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoAccountShipTo</name>
        <label>showNoAccountShipTo</label>
        <locationX>1679</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoAccountShipTo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You did not select a Ship-to address. Either there as was no Ship-to address available for the account or none got selected. Use the &amp;apos;Previous&amp;apos; button to navigate back to the previous step or &amp;apos;Finish&amp;apos; to stop the process.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoContacts</name>
        <label>showNoContacts</label>
        <locationX>32</locationX>
        <locationY>502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoContacts</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The selected Opportunity Quote&amp;apos;s Account {!accountName} has no related contacts. Please create a contact for the account, before starting Create Sample Request flow again. &lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoLinesSelected</name>
        <label>showNoLinesSelected</label>
        <locationX>667</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoLInesSelected</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You haven&amp;apos;t selected any quote lines. Use the &amp;apos;Previous&amp;apos; button to navigate back to the selection step, or &amp;apos;Finish&amp;apos; to abort the process. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoQuoteLines</name>
        <label>showNoQuoteLines</label>
        <locationX>653</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The selected opportunity quote has no lines to raise Sample request(s) for. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedQuoteLines</name>
        <label>Show Selected Quote Lines</label>
        <locationX>828</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>useMainAddress</targetReference>
        </connector>
        <fields>
            <name>msgConfirmSelectedLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Below are the lines for which you want to create Sample Requests, are these correct? &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LightingDatatableWrapper</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>selectedQuoteLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <elementReference>constId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>useMainAddress</name>
        <label>useMainAddress</label>
        <locationX>968</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionUseMainAddress</targetReference>
        </connector>
        <fields>
            <name>msgUseMainAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select this option, if you would like the Account&amp;apos;s Main Address as Ship-to for your Sample Request(s).&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>useMainAddressFlag</name>
            <dataType>Boolean</dataType>
            <fieldText>Use Main Address</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Should the Main address be used for these Sample requests?</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>useOverrideAddress</name>
        <label>useOverrideAddress</label>
        <locationX>1274</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionUseOverrideAddress</targetReference>
        </connector>
        <fields>
            <name>msgUseAccountShipToAddress</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select this option, if you would like the one of the Account&amp;apos;s Ship-to addresses for your Sample Request(s). The next step allows you to select a Ship-to address.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>useAccountShiptoFlag</name>
            <dataType>Boolean</dataType>
            <fieldText>Use Account&apos;s Ship-to</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>You are able to select an existing Ship-to address for the account.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>useShippingAddress</name>
        <label>useShippingAddress</label>
        <locationX>1456</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionSelectedAccountShipto</targetReference>
        </connector>
        <fields>
            <name>msgSelectAccountShipto</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select one of the Account&amp;apos;s Ship-to addresses found for this account. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;white&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showShippingAddresses</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <elementReference>constId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_AccountShiptoAddress__c</name>
                <value>
                    <elementReference>lstAccountShiptoAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstAccountShipToFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccountShipToAddress</assignToReference>
                <name>OUT_AccountShiptoAddress__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hasSelectedRow</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccountShipToAddressId</assignToReference>
                <name>selectedRowId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getQuote</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLob1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLob2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLob3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountShipToAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShiptoAddress__c</objectType>
    </variables>
    <variables>
        <name>assignError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>constAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasQuoteLines</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSelectedAccountShipto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSelectedRow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAccountContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>lstAccountShiptoAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShiptoAddress__c</objectType>
    </variables>
    <variables>
        <name>lstAccountShipToFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstCaseDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>lstContactFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstProductFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstSampleRequestFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedAccountContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newCaseDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>numQuoteLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountContactRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountShipToAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShiptoAddress__c</objectType>
    </variables>
    <variables>
        <name>selectedAccountShipToAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>shipToAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToCountryLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToPostalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shipToStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitOfMeasurement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>UN</stringValue>
        </value>
    </variables>
</Flow>
