flows/Create_Principal_Summary_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ApexGetMarketInfoMarket</name>
        <label>apexGetMarketInfoMarket</label>
        <locationX>1054</locationX>
        <locationY>1482</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showMarketInfoMarket</targetReference>
        </connector>
        <inputParameters>
            <name>principalId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProduct</name>
            <value>
                <elementReference>lstSelectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstMarketInfoMarketFields</name>
            <value>
                <elementReference>lstMarketInfoMarketFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soqlLimit</name>
            <value>
                <elementReference>constSoqlLimitQuoteLines</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstMarketInfoMarket</assignToReference>
            <name>lstMarketInfoMarket</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetMarketInfoMarketProducts</name>
        <label>apexGetMarketInfoMarketProducts</label>
        <locationX>1945</locationX>
        <locationY>1130</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decicionExceededNumMimProducts</targetReference>
        </connector>
        <inputParameters>
            <name>principalId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnMarketInfoMarketProducts</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProductFields</name>
            <value>
                <elementReference>lstProductFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soqlLimit</name>
            <value>
                <elementReference>constSoqlLimitUniqueProducts</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstProducts</assignToReference>
            <name>lstProduct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetQuoteLines</name>
        <label>apexGetQuoteLines</label>
        <locationX>1640</locationX>
        <locationY>639</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionExceededNumQuotelines</targetReference>
        </connector>
        <inputParameters>
            <name>principalId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boType</name>
            <value>
                <elementReference>checboxBoType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>dateEnd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeColdOppties</name>
            <value>
                <elementReference>checkboxExcludeColdOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeLostLines</name>
            <value>
                <elementReference>checboxExcludeLostLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>checkboxKeyOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProduct</name>
            <value>
                <elementReference>lstSelectedProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstQuoteLineFields</name>
            <value>
                <elementReference>lstQuoteLineFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lob</name>
            <value>
                <elementReference>selectedLob</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soqlLimit</name>
            <value>
                <elementReference>constSoqlLimitQuoteLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>dateStart</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstQuoteLine</assignToReference>
            <name>lstQuoteLine</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetUniqueQuotelineProducts</name>
        <label>apexGetUniqueQuotelineProducts</label>
        <locationX>1329</locationX>
        <locationY>504</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decicionExceededNumProducts</targetReference>
        </connector>
        <inputParameters>
            <name>principalId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boType</name>
            <value>
                <elementReference>checboxBoType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnQuoteLineProducts</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>dateEnd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeColdOppties</name>
            <value>
                <elementReference>checkboxExcludeColdOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeLostLines</name>
            <value>
                <elementReference>checboxExcludeLostLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>checkboxKeyOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProductFields</name>
            <value>
                <elementReference>lstProductFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lob</name>
            <value>
                <elementReference>selectedLob</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soqlLimit</name>
            <value>
                <elementReference>constSoqlLimitUniqueProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>dateStart</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstProducts</assignToReference>
            <name>lstProduct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigateSummaryReportRecordPage</name>
        <label>navigateSummaryReportRecordPage</label>
        <locationX>1743</locationX>
        <locationY>1827</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>reportId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignMarketInfoMarketFields</name>
        <label>assignMarketInfoMarketFields</label>
        <locationX>894</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProduct__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProducerName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketInfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorDistributorName__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignQuoteLineFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProductFields</name>
        <label>assignProductFields</label>
        <locationX>686</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Principal__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TradeName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FullSegmentsNumber__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PackageDescription__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ReportingLine__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ItemStatus__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignMarketInfoMarketFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuoteLine</name>
        <label>assignSrlQuoteLine</label>
        <locationX>2515</locationX>
        <locationY>2010</locationY>
        <assignmentItems>
            <assignToReference>summaryReportLine.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reportId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlQuoteLineToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuoteLineFields</name>
        <label>assignQuoteLineFields</label>
        <locationX>895</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplay__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stage__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ReportingLine__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityLob1__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityCloseDate__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuantitywithUOM__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SBQQ__Product__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AccountId__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showInputParams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMarketInfoMarket</name>
        <label>assignSrlMarketInfoMarket</label>
        <locationX>1739</locationX>
        <locationY>2004</locationY>
        <assignmentItems>
            <assignToReference>summaryReportLine.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketInfoMarket.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.MarketInfoMarket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketInfoMarket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reportId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlMimToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMimToList</name>
        <label>assignSrlMimToList</label>
        <locationX>1981</locationX>
        <locationY>2139</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>summaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedMim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlQuoteLineToList</name>
        <label>assignSrlQuoteLineToList</label>
        <locationX>2270</locationX>
        <locationY>2136</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>summaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedQuoteLines</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constRtPrincipal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Principal_Global</stringValue>
        </value>
    </constants>
    <constants>
        <description>Added as LIMIT n on SOQL</description>
        <name>constSoqlLimitQuoteLines</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Used for LIMIT n</description>
        <name>constSoqlLimitUniqueProducts</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>150.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>decicionExceededNumMimProducts</name>
        <label>decicionExceededNumMimProducts</label>
        <locationX>1937</locationX>
        <locationY>1300</locationY>
        <defaultConnector>
            <targetReference>showMimProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decicionExceededNumMimProductsFalse</defaultConnectorLabel>
        <rules>
            <name>decicionExceededNumMimProductsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constSoqlLimitUniqueProducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showExceededNumMimProducts</targetReference>
            </connector>
            <label>decicionExceededNumMimProductsTrue</label>
        </rules>
        <rules>
            <name>decicionNoMimProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoMimProducts</targetReference>
            </connector>
            <label>decicionNoMimProducts</label>
        </rules>
    </decisions>
    <decisions>
        <description>We support max 200 records.</description>
        <name>decicionExceededNumProducts</name>
        <label>decicionExceededNumProducts</label>
        <locationX>1140</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>showUniqueProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decicionExceededNumProductsFalse</defaultConnectorLabel>
        <rules>
            <name>decicionExceededNumProductsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constSoqlLimitUniqueProducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showExcceededNumProducts</targetReference>
            </connector>
            <label>decicionExceededNumProductsTrue</label>
        </rules>
        <rules>
            <name>decisionNoProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoProducts</targetReference>
            </connector>
            <label>decisionNoProducts</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionExceededNumQuotelines</name>
        <label>decisionExceededNumQuotelines</label>
        <locationX>1632</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>showQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionExceededNumQuotelinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionExceededNumQuotelinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constSoqlLimitQuoteLines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showExceededNumQuotelines</targetReference>
            </connector>
            <label>decisionExceededNumQuotelinesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionMimo</name>
        <label>decisionMimo</label>
        <locationX>2366</locationX>
        <locationY>1121</locationY>
        <defaultConnector>
            <targetReference>apexGetMarketInfoMarketProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionMimoTrue</defaultConnectorLabel>
        <rules>
            <name>decisionMimoFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkboxMimo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showConfirmation</targetReference>
            </connector>
            <label>decisionMimoFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNoSelectedMim</name>
        <label>decisionNoSelectedMim</label>
        <locationX>1944</locationX>
        <locationY>1485</locationY>
        <defaultConnector>
            <targetReference>showNoSelectedMim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionNoSelectedMimTrue</defaultConnectorLabel>
        <rules>
            <name>decisionNoSelectedMimFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedMim</targetReference>
            </connector>
            <label>decisionNoSelectedMimFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNoSelectedMimProducts</name>
        <label>decisionNoSelectedMimProducts</label>
        <locationX>1326</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>showSelectedMimProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionNoSelectedMimProductsFalse</defaultConnectorLabel>
        <rules>
            <name>decisionNoSelectedMimProductsTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoSelectedMimProducts</targetReference>
            </connector>
            <label>decisionNoSelectedMimProductsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNoSelectedQuotelines</name>
        <label>decisionNoSelectedQuotelines</label>
        <locationX>1936</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>showSelectedQuotelines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionNoSelectedQuotelinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionNoSelectedQuotelinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoSelectedQuotelines</targetReference>
            </connector>
            <label>decisionNoSelectedQuotelinesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionPrincipalFound</name>
        <label>decisionPrincipalFound</label>
        <locationX>404</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>showNoPrincipal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionPrincipalFoundFalse</defaultConnectorLabel>
        <rules>
            <name>decisionPrincipalFoundTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>principal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showWelcome</targetReference>
            </connector>
            <label>decisionPrincipalFoundTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisonNoSelectedProducts</name>
        <label>decisonNoSelectedProducts</label>
        <locationX>1626</locationX>
        <locationY>1013</locationY>
        <defaultConnector>
            <targetReference>showSelectedProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonNoSelectedProductsFalse</defaultConnectorLabel>
        <rules>
            <name>decisonNoSelectedProductsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoSelectedProducts</targetReference>
            </connector>
            <label>decisonNoSelectedProductsTrue</label>
        </rules>
    </decisions>
    <description>This (Screen) Flow guides the user through a number of steps in order to create a SummaryReport__c / SummaryReportLine__c construct. Used to create a Principal Summary Document (Webmerge).</description>
    <dynamicChoiceSets>
        <name>picklistChoiceBoType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DummyBoType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaProductQuery</name>
        <dataType>String</dataType>
        <expression>&quot;Principal__c=&apos;&quot; + {!principal.Id} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.RecordTypeIds__c.RTIDSummaryReportPrincipalReport__c}</expression>
    </formulas>
    <interviewLabel>Create Principal Summary Flow {!$Flow.CurrentDateTime} for {!recordId}</interviewLabel>
    <label>Create Principal Summary Flow</label>
    <loops>
        <name>loopSelectedMim</name>
        <label>loopSelectedMim</label>
        <locationX>1982</locationX>
        <locationY>2004</locationY>
        <assignNextValueToReference>loopMarketInfoMarket</assignNextValueToReference>
        <collectionReference>lstSelectedMarketInfoMarket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlMarketInfoMarket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createSummaryLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedQuoteLines</name>
        <label>loopSelectedQuoteLines</label>
        <locationX>2272</locationX>
        <locationY>2003</locationY>
        <assignNextValueToReference>loopQuoteLine</assignNextValueToReference>
        <collectionReference>lstSelectedQuoteLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignQuoteLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedMim</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createPrincipalSummary</name>
        <label>createPrincipalSummary</label>
        <locationX>2272</locationX>
        <locationY>1824</locationY>
        <assignRecordIdToReference>reportId</assignRecordIdToReference>
        <connector>
            <targetReference>loopSelectedQuoteLines</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebugInfo__c</field>
            <value>
                <elementReference>debugInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDate__c</field>
            <value>
                <elementReference>reportDate</elementReference>
            </value>
        </inputAssignments>
        <object>SummaryReport__c</object>
    </recordCreates>
    <recordCreates>
        <name>createSummaryLines</name>
        <label>createSummaryLines</label>
        <locationX>1971</locationX>
        <locationY>1827</locationY>
        <connector>
            <targetReference>navigateSummaryReportRecordPage</targetReference>
        </connector>
        <inputReference>lstSummaryReportLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPrincipal</name>
        <label>getPrincipal</label>
        <locationX>225</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionPrincipalFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showNoPrincipal</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TF_RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constRtPrincipal</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>principal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>showConfirmation</name>
        <label>showConfirmation</label>
        <locationX>2336</locationX>
        <locationY>1655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPrincipalSummary</targetReference>
        </connector>
        <fields>
            <name>msgShowConfirmation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;We&apos;re almost done collection information. Just provide below remaining details, and you&apos;re done. You will be automatically navigated towards the record page allowing you to create your Principal Report document. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reportDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showExcceededNumProducts</name>
        <label>showExcceededNumProducts</label>
        <locationX>956</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgExceededNumProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ooops.... The query returned too many results ({!numRecords}), please refine your search criteria such than it brings back less than {!constSoqlLimitUniqueProducts} records. Click &apos;Previous&apos; to go back.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showExceededNumMimProducts</name>
        <label>showExceededNumMimProducts</label>
        <locationX>2281</locationX>
        <locationY>1212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgExceededNumMimProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ooops... we found too many products from the queried Market Info Market records ({!constSoqlLimitUniqueProducts}). The search criteria need to be refined.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showExceededNumQuotelines</name>
        <label>showExceededNumQuotelines</label>
        <locationX>1637</locationX>
        <locationY>361</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showInputParams</targetReference>
        </connector>
        <fields>
            <name>msgExceededNumQuotelines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ooop... The selected products result in too many ({!numRecords}) Opportunity lines, please select fewer products. The limit on Opportunity lines is {!constSoqlLimitQuoteLines}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showInputParams</name>
        <label>showInputParams</label>
        <locationX>1137</locationX>
        <locationY>369</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>apexGetUniqueQuotelineProducts</targetReference>
        </connector>
        <fields>
            <name>msgInputParams</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide the parameters you would like to use to search for relevant data related to {!principal.Name}. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgPeriod</name>
            <fieldText>&lt;br&gt;
Define the period to which you&apos;d like to constrain the results. These dates will be applied to the Opportunity Close date. Regardless, only Opportunities which aren&apos;t closed are part of the result.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dateStart</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Opportunities with a Close Date after the Start Date will be included.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Start Date should be prior to End date.</errorMessage>
                <formulaExpression>{!dateStart} &lt; {!dateEnd}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>dateEnd</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Opportunities with a Close Date before the End Date will be included.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>End date should be after Start date</errorMessage>
                <formulaExpression>{!dateStart} &lt; {!dateEnd}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>checboxBoType</name>
            <choiceReferences>picklistChoiceBoType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BO Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Please select the values you need. Beware that &apos;Undetermined&apos; is for Opportunities without a valid BO Type (e.g. not Replacement, neither Development). Best is to include &apos;Undetermined&apos; so you don&apos;t miss out on data.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>msgLob</name>
            <fieldText>Select the relevant Opportunity LOB to constrain the results. Specifying the LOB will only take opportunities and related data for the specified LOB into consideration.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcPicklistLob</name>
            <extensionName>c:PicklistSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>LOB1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>selectedLob</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>class</name>
                <value>
                    <stringValue>slds-size_3-of-6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedLob</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>msgKeyOppty</name>
            <fieldText>&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkboxKeyOppty</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Only Key Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>If checked only &apos;Key&apos; opportunities will be part of result. If left unchecked both Key and non-Key opportunities will be selected.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkboxExcludeColdOppty</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Exclude Cold Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Uncheck this if you want the results to include lines for Cold opportunities.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checboxExcludeLostLines</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Exclude Lost Lines</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Uncheck this if you want the results to include Lost lines.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showMarketInfoMarket</name>
        <label>showMarketInfoMarket</label>
        <locationX>1594</locationX>
        <locationY>1482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionNoSelectedMim</targetReference>
        </connector>
        <fields>
            <name>msgMarketInfoMarket</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Market Info (Ongoing)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowMarketInfoMarket</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstMarketInfoMarketFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoMarket__c</name>
                <value>
                    <elementReference>lstMarketInfoMarket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>constSoqlLimitQuoteLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedMarketInfoMarket</assignToReference>
                <name>OUT_MarketInfoMarket__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedRecord</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showMimProducts</name>
        <label>showMimProducts</label>
        <locationX>1584</locationX>
        <locationY>1300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionNoSelectedMimProducts</targetReference>
        </connector>
        <fields>
            <name>msgMimProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Below is the list of unique products across all the Market Info related to your principal.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowUniqueMimProducts</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Product2</name>
                <value>
                    <elementReference>lstProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>constSoqlLimitUniqueProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRecord</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lstSelectedProducts</assignToReference>
                <name>OUT_Product2</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showMimQueryParams</name>
        <label>showMimQueryParams</label>
        <locationX>2143</locationX>
        <locationY>953</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionMimo</targetReference>
        </connector>
        <fields>
            <name>msgMimQueryParams</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do you want to extract Market Info related with your principal?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkboxMimo</name>
            <dataType>Boolean</dataType>
            <fieldText>Extract Market Info (Ongoing)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Selecting this option will extract all Market Info related to the principal. Either because the Market Info is related with a Principal-owned product or the Market Info has a direct relationship with the Principal.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoMimProducts</name>
        <label>showNoMimProducts</label>
        <locationX>2281</locationX>
        <locationY>1371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showConfirmation</targetReference>
        </connector>
        <fields>
            <name>msgNoMimProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No Market Info (Ongoing) records have been found. That could be perfectly fine, but if you would expect some please use the &apos;Previous&apos; button to change the Start date. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoPrincipal</name>
        <label>Missing Principal</label>
        <locationX>404</locationX>
        <locationY>579</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoPrincipal</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Flow can only be started from a Principal record. &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoProducts</name>
        <label>showNoProducts</label>
        <locationX>1145</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;That&apos;s a pitty... The query returned no results, please refine your search criteria (click &apos;Previous&apos; to refine your criteria).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedMim</name>
        <label>showNoSelectedMim</label>
        <locationX>1958</locationX>
        <locationY>1655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showConfirmation</targetReference>
        </connector>
        <fields>
            <name>msgNoSelectedMim</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No Market Info (Ongoing) records have been selected, are you sure?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedMimProducts</name>
        <label>showNoSelectedMimProducts</label>
        <locationX>1331</locationX>
        <locationY>1164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showMimProducts</targetReference>
        </connector>
        <fields>
            <name>msgNoSelectedMimProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You did not select any product. At least one product needs to be selected in order to continue. You can click next to select your product(s).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedProducts</name>
        <label>showNoSelectedProducts</label>
        <locationX>1389</locationX>
        <locationY>896</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showUniqueProducts</targetReference>
        </connector>
        <fields>
            <name>msgNoSelectedProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You did not select any product. At least one product needs to be selected in order to continue. You can click next to select your product(s).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedQuotelines</name>
        <label>showNoSelectedQuotelines</label>
        <locationX>2176</locationX>
        <locationY>600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showQuoteLines</targetReference>
        </connector>
        <fields>
            <name>msgNoSelectedQuotelines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You did not select any opportunity line. You can click next to select your lines.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showQuoteLines</name>
        <label>showQuoteLines</label>
        <locationX>1944</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionNoSelectedQuotelines</targetReference>
        </connector>
        <fields>
            <name>msgQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The list below shows the opportunity lines for the selected products in the previous screen, and further constrained by the additional search criteria. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcQuoteLines</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>constSoqlLimitQuoteLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRecord</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lstSelectedQuoteLine</assignToReference>
                <name>OUT_SBQQ__QuoteLine__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedMim</name>
        <label>showSelectedMim</label>
        <locationX>2195</locationX>
        <locationY>1485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showConfirmation</targetReference>
        </connector>
        <fields>
            <name>msgSelectedMim</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Selected Market Info (Ongoing) records&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedMim</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstMarketInfoMarketFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoMarket__c</name>
                <value>
                    <elementReference>lstSelectedMarketInfoMarket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedMimProducts</name>
        <label>showSelectedMimProducts</label>
        <locationX>1055</locationX>
        <locationY>1311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ApexGetMarketInfoMarket</targetReference>
        </connector>
        <fields>
            <name>msgSelectedMimProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Selected Product for which the next screen will show related Market Info data.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedMimProducts</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasSelectedRows</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Product2</name>
                <value>
                    <elementReference>lstSelectedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedProducts</name>
        <label>showSelectedProducts</label>
        <locationX>1640</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>apexGetQuoteLines</targetReference>
        </connector>
        <fields>
            <name>msgSelectedProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Selected Products&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedProducts</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Product2</name>
                <value>
                    <elementReference>lstSelectedProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>constSoqlLimitUniqueProducts</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedQuotelines</name>
        <label>showSelectedQuotelines</label>
        <locationX>1945</locationX>
        <locationY>953</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showMimQueryParams</targetReference>
        </connector>
        <fields>
            <name>msgSelectedQuotelines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Selected Opportunity Lines&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedQuotelines</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstSelectedQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showUniqueProducts</name>
        <label>showUniqueProducts</label>
        <locationX>1156</locationX>
        <locationY>1009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisonNoSelectedProducts</targetReference>
        </connector>
        <fields>
            <name>msgUniqueProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Below is the list of unique products from all the opportunity lines, based on the provided criteria.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowUniqueProducts</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Product2</name>
                <value>
                    <elementReference>lstProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>constSoqlLimitUniqueProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedProducts</assignToReference>
                <name>OUT_Product2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedRecord</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showWelcome</name>
        <label>showWelcome</label>
        <locationX>408</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignProductFields</targetReference>
        </connector>
        <fields>
            <name>msgWelcome</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Flow will allow and guide you through the process to create a Principal Summary document for {!principal.Name}. We&apos;d like to start with the Period which you&apos;re interested in. This period will apply to the Opportunity Close date. You can select a pre-defined period or enter the dates manually. Whatever you prefer.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datePickerWrapper</name>
            <extensionName>c:DatePeriodPickerWrapperComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>endDate</name>
                <value>
                    <elementReference>selectedStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDate</name>
                <value>
                    <elementReference>selectedEndDate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedEndDate</assignToReference>
                <name>endDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getPrincipal</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>debugInfo</name>
        <text>DEBUG INFO
Principal: {!principal.Name}
SOQL Limit for Quote Lines: {!constSoqlLimitQuoteLines}
SOQL Limit for Unique product: {!constSoqlLimitUniqueProducts}

QUERY PARAMETERS:
Start Date: {!dateStart}
End Date: {!dateEnd}
LOB: {!selectedLob}
Only Key oppties: {!checkboxKeyOppty}
BO Types: {!picklistChoiceBoType}
Exclude Cold oppties: {!checkboxExcludeColdOppty}
Exclude Lost Lines: {!checboxExcludeLostLines}</text>
    </textTemplates>
    <variables>
        <name>loopMarketInfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>loopQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstMarketInfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>lstMarketInfoMarketFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstProductFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>lstQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstQuoteLineFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedMarketInfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>lstSelectedQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstSummaryReportLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SummaryReportLine__c</objectType>
    </variables>
    <variables>
        <name>numRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>sObject variable to store Principal record (Account)</description>
        <name>principal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable holding the PrincipalId (=Account.Id)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Generic variable to capture Lightning Datatable output (whether user selected at minimum a record)</description>
        <name>selectedRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>selectedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summaryReportLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SummaryReportLine__c</objectType>
    </variables>
</Flow>
