flows/Create_and_Send_Document_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apexGenerateAndSendDocument</name>
        <label>apexGenerateAndSendDocument</label>
        <locationX>742</locationX>
        <locationY>51</locationY>
        <actionName>CPQcreateDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showDone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Store Id in recordId</description>
        <name>AssignToRecordId</name>
        <label>AssignToRecordId</label>
        <locationX>262</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionStatus</name>
        <label>decisionStatus</label>
        <locationX>735</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>showNoAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionStatusNok</defaultConnectorLabel>
        <rules>
            <name>decisionStatusOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theQuote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apexGenerateAndSendDocument</targetReference>
            </connector>
            <label>decisionStatusOk</label>
        </rules>
    </decisions>
    <interviewLabel>Create Document Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Send Document Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Quote including the correct (document) status</description>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>262</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__DocumentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>theQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Status__c</queriedFields>
        <queriedFields>SBQQ__DocumentStatus__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>showDone</name>
        <label>showDone</label>
        <locationX>952</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgDone</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Quote Document has been re-send.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showError</name>
        <label>showError</label>
        <locationX>497</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgError</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;An error occurred.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgFault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoAction</name>
        <label>showNoAction</label>
        <locationX>961</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoAction</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry, you cannot re-send the Quote Document for this Quote. The Quote&apos;s status should be &apos;Confirmed&apos; (but currently is set to {!theQuote.SBQQ__Status__c} and the Quote&apos;s Document Sending Status should be &apos;Pending&apos; (but is currently is set to {!theQuote.DocumentSending__c})&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>AssignToRecordId</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>theQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
