flows/Create_Temp_Product_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>apexGetProducts</name>
        <label>apexGetProducts</label>
        <locationX>830</locationX>
        <locationY>50</locationY>
        <actionName>CreateProductQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionNumProductsExceedingLimit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultCreateProduct</targetReference>
        </faultConnector>
        <inputParameters>
            <name>principalId</name>
            <value>
                <elementReference>principalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchString</name>
            <value>
                <elementReference>productTradeGrade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstProductFields</name>
            <value>
                <elementReference>lstProductFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>soqlLimit</name>
            <value>
                <elementReference>SOQL_LIMIT</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstProduct</assignToReference>
            <name>lstProduct</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigteToProductPage</name>
        <label>navigteToProductPage</label>
        <locationX>285</locationX>
        <locationY>707</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>faultCreateProduct</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>createdProductId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignCountryOfOrigin</name>
        <label>assignCountryOfOrigin</label>
        <locationX>180</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>countryOfOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProductFields</name>
        <label>assignProductFields</label>
        <locationX>652</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TradeName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PackSize__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstProductFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PackageDescription__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productTradeGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trade_Name_Initial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProductTradeGrade</name>
        <label>assignProductTradeGrade</label>
        <locationX>1087</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>productTradeGrade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProductTradeGrade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValidationVariable</name>
        <label>assignValidationVariable</label>
        <locationX>596</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>selectedProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showCreateProductInput</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Used to have &apos;--None--&apos; as default Country of Origin.</description>
        <name>choiceDefaultCountryOfOrigin</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceDefaultProductStatus</name>
        <choiceText>Temp Pre Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DEFAULT_PRODUCT_STATUS</elementReference>
        </value>
    </choices>
    <constants>
        <name>DEFAULT_COUNTRY_OF_ORIGIN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </constants>
    <constants>
        <name>DEFAULT_PRODUCT_STATUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>02.Temp Pre Sales</stringValue>
        </value>
    </constants>
    <constants>
        <description>Needs to be changed to a formula with {$Setup.RecordTypeIds__c.RTIDProduct2TempProduct__c}. Currently crashes the Apex Action....</description>
        <name>RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120O000000ZOnDQAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>SOQL_LIMIT</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>300.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>decisionDefaultCountryOfOrigin</name>
        <label>decisionDefaultCountryOfOrigin</label>
        <locationX>356</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>createProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionDefaultCountryNoneFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_of_Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DEFAULT_COUNTRY_OF_ORIGIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCountryOfOrigin</targetReference>
            </connector>
            <label>decisionDefaultCountryNoneFalse</label>
        </rules>
        <rules>
            <name>decisionLookupNotSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedPrincipalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductManagerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedPrincipalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>decisionLookupNotSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the user has selected a principal. Needed for error handling since the lookup lightning component cannot validate if a user has picked a principal or not.</description>
        <name>decisionHasSelectedPrincipal</name>
        <label>decisionHasSelectedPrincipal</label>
        <locationX>552</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>assignProductFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedPrincipalFalse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>principalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>principalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Id</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showPleaseSelectPrincipal</targetReference>
            </connector>
            <label>decisionHasSelectedPrincipalFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedProduct</name>
        <label>decisionHasSelectedProduct</label>
        <locationX>823</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedProductTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkboxExistingProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopLstSelectedProduct</targetReference>
            </connector>
            <label>decisionHasSelectedProductTrue</label>
        </rules>
        <rules>
            <name>decisionHasSelectedProductFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSelectedProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkboxExistingProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showCreateProductInput</targetReference>
            </connector>
            <label>decisionHasSelectedProductFalse</label>
        </rules>
        <rules>
            <name>decisionExistingProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkboxExistingProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showExistingProduct</targetReference>
            </connector>
            <label>decisionExistingProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLookupFieldValueNotSelected</name>
        <label>decisionLookupFieldValueNotSelected</label>
        <locationX>526</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>decisionDefaultCountryOfOrigin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionLookupFieldValueNotSelectedTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedPrincipalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedPrincipalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedProductManagerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNeedToSelectLookupValue</targetReference>
            </connector>
            <label>decisionLookupFieldValueNotSelectedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the number of products related to the principal exceeds a certain limit. More information is needed in order to filter the products.</description>
        <name>decisionNumProductsExceedingLimit</name>
        <label>decisionNumProductsExceedingLimit</label>
        <locationX>822</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>showPrincipalProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionExceededNumberOfProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SOQL_LIMIT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showEnterProductTradeGrade</targetReference>
            </connector>
            <label>decisionExceededNumberOfProducts</label>
        </rules>
        <rules>
            <name>decisionNoProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showNoSimilarProducts</targetReference>
            </connector>
            <label>decisionNoProducts</label>
        </rules>
    </decisions>
    <description>Flow for creating temp products that first shows similar temp products for the user. Added validation on Trade Grade back in.</description>
    <dynamicChoiceSets>
        <name>plCountryOfOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CountryofOrigin__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plProductStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ItemStatus__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plUnitOfMeasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnitOfMeasure__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.RecordTypeIds__c.RTIDProduct2TempProduct__c}</expression>
    </formulas>
    <interviewLabel>Create Temp Product Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Temp Product Flow</label>
    <loops>
        <name>loopLstSelectedProduct</name>
        <label>loopLstSelectedProduct</label>
        <locationX>830</locationX>
        <locationY>685</locationY>
        <assignNextValueToReference>selectedProduct</assignNextValueToReference>
        <collectionReference>lstSelectedProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSelectedProduct</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createProduct</name>
        <label>createProduct</label>
        <locationX>439</locationX>
        <locationY>517</locationY>
        <assignRecordIdToReference>createdProductId</assignRecordIdToReference>
        <connector>
            <targetReference>showFinalMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultCreateProduct</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CountryofOrigin__c</field>
            <value>
                <elementReference>countryOfOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemStatus__c</field>
            <value>
                <elementReference>DEFAULT_PRODUCT_STATUS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Trade_Grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PackageDescription__c</field>
            <value>
                <elementReference>inputPackageDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <elementReference>selectedPrincipalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductManager__c</field>
            <value>
                <elementReference>selectedProductManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierItemNumber__c</field>
            <value>
                <elementReference>Supplier_Item_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TradeName__c</field>
            <value>
                <elementReference>Trade_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOfMeasure__c</field>
            <value>
                <elementReference>Unit_of_Measure</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordLookups>
        <name>getSelectedProduct</name>
        <label>getSelectedProduct</label>
        <locationX>711</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignValidationVariable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultCreateProduct</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProduct.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>selectedProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TradeName__c</queriedFields>
        <queriedFields>CountryofOrigin__c</queriedFields>
        <queriedFields>ProductManager__c</queriedFields>
        <queriedFields>PackageDescription__c</queriedFields>
    </recordLookups>
    <screens>
        <name>faultCreateProduct</name>
        <label>faultCreateProduct</label>
        <locationX>437</locationX>
        <locationY>861</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFault</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;That awkward... an error occurred. Please provide below details to your Salesforce admin.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgFaultDetails</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showCreateProductInput</name>
        <label>showCreateProductInput</label>
        <locationX>596</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionLookupFieldValueNotSelected</targetReference>
        </connector>
        <fields>
            <name>msgCreateNewTempProduct</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Create the new temporary product by providing as much information as possible. Where possible we pre-populate data for your convenience.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupSelectedPrincipal</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>principalId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>RecordType.DeveloperName=&apos;Principal_Global&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Principal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pluralLabel</name>
                <value>
                    <stringValue>Principals</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedPrincipalId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lookupFieldPrincipalLabel</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>lookupProductManager</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>selectedProduct.ProductManager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pluralLabel</name>
                <value>
                    <stringValue>Product Managers</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProductManagerId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lookupFieldProductManagerLabel</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trade_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedProduct.TradeName__c</elementReference>
            </defaultValue>
            <fieldText>Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Trade_Grade</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedProduct.Name</elementReference>
            </defaultValue>
            <fieldText>Trade Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You must create a new trade grade name.</errorMessage>
                <formulaExpression>{!Trade_Grade} != {!selectedProductName}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Supplier_Item_Number</name>
            <dataType>String</dataType>
            <fieldText>Supplier Item Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Unit_of_Measure</name>
            <choiceReferences>plUnitOfMeasure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit of Measure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputPackageDesc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedProduct.PackageDescription__c</elementReference>
            </defaultValue>
            <fieldText>Package Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_of_Origin</name>
            <choiceReferences>choiceDefaultCountryOfOrigin</choiceReferences>
            <choiceReferences>plCountryOfOrigin</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceDefaultCountryOfOrigin</defaultSelectedChoiceReference>
            <fieldText>Country of Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Status</name>
            <choiceReferences>choiceDefaultProductStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showEnterProductTradeGrade</name>
        <label>showEnterProductTradeGrade</label>
        <locationX>1087</locationX>
        <locationY>202</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignProductTradeGrade</targetReference>
        </connector>
        <fields>
            <name>msgEnterProductTradeGrade</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry, the query returned too make products (more than {!SOQL_LIMIT}). Please provide parts of the product name. We&apos;ll add wild cards for you!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputProductTradeGrade</name>
            <dataType>String</dataType>
            <fieldText>Trade Grade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showExistingProduct</name>
        <label>showExistingProduct</label>
        <locationX>1079</locationX>
        <locationY>521</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgExistingProduct</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No Temp needed! You can close the window or click &apos;Finish&apos;.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFinalMessage</name>
        <label>showFinalMessage</label>
        <locationX>285</locationX>
        <locationY>527</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigteToProductPage</targetReference>
        </connector>
        <fields>
            <name>msgSuccessfullyCreated</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Temporary Product has been successfully created!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNeedToSelectLookupValue</name>
        <label>showNeedToSelectLookupValue</label>
        <locationX>719</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showCreateProductInput</targetReference>
        </connector>
        <fields>
            <name>msgLookupFieldNotSelected</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Both of the Principal and Product Manager fields need to have valid selected values.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSimilarProducts</name>
        <label>showNoSimilarProducts</label>
        <locationX>596</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showCreateProductInput</targetReference>
        </connector>
        <fields>
            <name>msgNoSimilarProducts</name>
            <fieldText>There are no similar products existing.

&lt;b&gt;Click Next&lt;/b&gt; to create the new temporary product.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPleaseSelectPrincipal</name>
        <label>showPleaseSelectPrincipal</label>
        <locationX>362</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showSelectPrincipal</targetReference>
        </connector>
        <fields>
            <name>msgPleaseSelectPrincipal</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please select a Principal to proceed.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows a lightning datatable containing max 500 products related to the selected principal.</description>
        <name>showPrincipalProducts</name>
        <label>showPrincipalProducts</label>
        <locationX>830</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionHasSelectedProduct</targetReference>
        </connector>
        <fields>
            <name>msgSimilarProducts</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Verify if the product you&apos;re trying to create already exists.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;

&lt;b&gt;Select the existing product and click Next&lt;/b&gt; if you want to create a new version of the product.

&lt;b&gt;Click Next without selecting an existing product&lt;/b&gt; to create a new temporary product.

&lt;b&gt;Select the checkbox below&lt;/b&gt; if you identified the appropriate product, and you no longer need to create a Temp!&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkboxExistingProduct</name>
            <dataType>Boolean</dataType>
            <fieldText>Product found?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check this box if you identified your product, and no Temp is needed.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>msgPrincipalProductsBr</name>
            <fieldText>&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowPrincipalProducts</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstProductFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Product2</name>
                <value>
                    <elementReference>lstProduct</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasSelectedRows</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OUT_Product2</name>
                <value>
                    <elementReference>lstSelectedProduct</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedProduct</assignToReference>
                <name>OUT_Product2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hasSelectedProduct</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectPrincipal</name>
        <label>showSelectPrincipal</label>
        <locationX>475</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionHasSelectedPrincipal</targetReference>
        </connector>
        <fields>
            <name>msgSelectPrincipal</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please select the Principal and optionally enter (a part of) the Trade Name for the new temporary product. You can leave the Trade Name empty and we&apos;ll try to return all Principal-owned products so you&apos;re able to double-check if an existing or similar product already exists. If your Principal owns more than {!SOQL_LIMIT} products, you&apos;ll be required to provide (parts of) Trade Name details.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupPrincipal</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Principal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pluralLabel</name>
                <value>
                    <stringValue>Principals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>RecordType.DeveloperName=&apos;Principal_Global&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>ErpAccountNumber__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>principalId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Trade_Name_Initial</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>showSelectPrincipal</startElementReference>
    <status>Active</status>
    <variables>
        <name>countryOfOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>createdProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasSelectedProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lookupFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>lookupFieldPrincipalLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lookupFieldProductManagerLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>lstProductFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>numRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>principalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productTradeGrade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPrincipalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>selectedProductManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
