flows/Create_Customer_Summary_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>apexGetFollowupReports</name>
        <label>apexGetFollowupReports</label>
        <locationX>1835</locationX>
        <locationY>1685</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionHasFollowupReports</targetReference>
        </connector>
        <inputParameters>
            <name>lstQuoteLine</name>
            <value>
                <elementReference>lstSelectedQuoteLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstFollowupReportFields</name>
            <value>
                <elementReference>lstFollowupReportFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstFollowupReport</assignToReference>
            <name>lstFollowupReport</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetMarketinfoBo</name>
        <label>apexGetMarketinfoBo</label>
        <locationX>2300</locationX>
        <locationY>2168</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionHasMarketinfoBo</targetReference>
        </connector>
        <inputParameters>
            <name>lstQuoteLine</name>
            <value>
                <elementReference>lstSelectedQuoteLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstMarketInfoBoFields</name>
            <value>
                <elementReference>lstMarketinfoBoFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstMarketinfoBo</assignToReference>
            <name>lstMarketInfoBo</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetMarketinfoMarket</name>
        <label>apexGetMarketinfoMarket</label>
        <locationX>2488</locationX>
        <locationY>1913</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionHasMarketinfoMarket</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstMarketInfoMarketFields</name>
            <value>
                <elementReference>lstMarketinfoMarketFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstMarketinfoMarket</assignToReference>
            <name>lstMarketInfoMarket</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetOpportunties</name>
        <label>apexGetOpportunties</label>
        <locationX>1248</locationX>
        <locationY>2159</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionHasOpportunities</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boType</name>
            <value>
                <elementReference>checkboxBoType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>dateEnd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeColdOppties</name>
            <value>
                <elementReference>checkboxExcludeColdOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>excludeLostLines</name>
            <value>
                <elementReference>checboxExcludeLostLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>checkboxKeyOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstOpportunityFields</name>
            <value>
                <elementReference>lstOpportunityFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lob</name>
            <value>
                <elementReference>selectedLob</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>dateStart</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstOpportunity</assignToReference>
            <name>lstOpportunity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetQuoteLines</name>
        <label>apexGetQuoteLines</label>
        <locationX>1563</locationX>
        <locationY>2214</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisonHasQuoteLines</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>checkboxKeyOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstOpportunity</name>
            <value>
                <elementReference>lstSelectedOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstQuoteLineFields</name>
            <value>
                <elementReference>lstQuoteLineFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstQuoteLine</assignToReference>
            <name>lstQuoteLine</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetUnrelatedVisitReport</name>
        <label>apexGetUnrelatedVisitReport</label>
        <locationX>2329</locationX>
        <locationY>624</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>hasVisitReports</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>dateEndVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUnrelatedVisitReportFields</name>
            <value>
                <elementReference>lstUnrelatedVisitReportFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>dateStartVisit</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstVisitReport</assignToReference>
            <name>lstVisitReport</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>numRecords</assignToReference>
            <name>numRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexGetVisitreportOppty</name>
        <label>apexGetVisitreportOppty</label>
        <locationX>2912</locationX>
        <locationY>1288</locationY>
        <actionName>SummaryReportQueryHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionHasVisitreportOppty</targetReference>
        </connector>
        <inputParameters>
            <name>lstOpportunity</name>
            <value>
                <elementReference>lstSelectedOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstVisitreportFields</name>
            <value>
                <elementReference>lstVisitreportFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstVisitreportOppty</assignToReference>
            <name>lstVisitReportOptty</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigateSummaryReportRecordPage</name>
        <label>navigateSummaryReportRecordPage</label>
        <locationX>1321</locationX>
        <locationY>1197</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>finishFlow</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>summaryReport.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignFollowupReportFields</name>
        <label>assignFollowupReportFields</label>
        <locationX>1831</locationX>
        <locationY>1784</locationY>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplayName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CreatedDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFollowupReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteLine__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetFollowupReports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstUnrelatedVisitReportFields</name>
        <label>assignLstUnrelatedVisitReportFields</label>
        <locationX>2459</locationX>
        <locationY>1029</locationY>
        <assignmentItems>
            <assignToReference>lstUnrelatedVisitReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstUnrelatedVisitReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Type__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstUnrelatedVisitReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Subject__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstUnrelatedVisitReportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Visit_Date__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showQueryUnrelatedVisitReports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstVisitreportFields</name>
        <label>assignLstVisitreportFields</label>
        <locationX>2911</locationX>
        <locationY>1520</locationY>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Type__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Subject__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>VisitDate__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>VisitReport__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstVisitreportFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PrimaryQuoteId__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetVisitreportOppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMarketinfoBoFields</name>
        <label>assignMarketinfoBoFields</label>
        <locationX>2294</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplayName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProduct__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorDistributorName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProducerName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteLine__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QuoteId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoBoFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityId__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetMarketinfoBo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMarketinfoMarketFields</name>
        <label>assignMarketinfoMarketFields</label>
        <locationX>2494</locationX>
        <locationY>2050</locationY>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BgClassification__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProduct__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorDistributorName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CompetitorProducerName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PrimaryQuoteId__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstMarketinfoMarketFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityId__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetMarketinfoMarket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpportunityFields</name>
        <label>assignOpportunityFields</label>
        <locationX>1095</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LOB1__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CloseDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BO_Type_Display__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Key_Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstOpportunityFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SBQQ__PrimaryQuote__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetOpportunties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuoteLineFields</name>
        <label>assignQuoteLineFields</label>
        <locationX>1558</locationX>
        <locationY>2071</locationY>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OpportunityName__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ProductDisplay__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stage__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Principal__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CurrencyIsoCode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PricePerUOMwithUOM__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Opportunity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstQuoteLineFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexGetQuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlFollowupReport</name>
        <label>assignSrlFollowupReport</label>
        <locationX>997</locationX>
        <locationY>1495</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFollowupReport.QuoteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFollowupReport.OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.FollowupReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFollowupReport.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFollowupReport.QuoteLine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlFollowupReportToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlFollowupReportToList</name>
        <label>assignSrlFollowupReportToList</label>
        <locationX>1070</locationX>
        <locationY>1591</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedFur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMiBo</name>
        <label>assignSrlMiBo</label>
        <locationX>840</locationX>
        <locationY>1501</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoBo.QuoteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoBo.OpportunityId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.FollowupReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoBo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoBo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoBo.QuoteLine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlMiBoToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMiBoToList</name>
        <label>assignSrlMiBoToList</label>
        <locationX>913</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedMiBo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMiMarket</name>
        <label>assignSrlMiMarket</label>
        <locationX>680</locationX>
        <locationY>1501</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.FollowupReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoBo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoMarket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoMarket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionHasOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMiMarketOppty</name>
        <label>assignSrlMiMarketOppty</label>
        <locationX>747</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoMarket.PrimaryQuoteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopMarketinfoMarket.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlMiMarketToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlMiMarketToList</name>
        <label>assignSrlMiMarketToList</label>
        <locationX>751</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedMiMarket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlOpportunity</name>
        <label>assignSrlOpportunity</label>
        <locationX>1369</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlOpportunityToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlOpportunityToList</name>
        <label>assignSrlOpportunityToList</label>
        <locationX>1437</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlQuoteLine</name>
        <label>assignSrlQuoteLine</label>
        <locationX>1172</locationX>
        <locationY>1497</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQuoteLine.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlQuoteLineToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlQuoteLineToList</name>
        <label>assignSrlQuoteLineToList</label>
        <locationX>1243</locationX>
        <locationY>1594</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedQuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlUnrelatedVisitReport</name>
        <label>assignSrlUnrelatedVisitReport</label>
        <locationX>180</locationX>
        <locationY>1486</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.FollowupReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoBo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoMarket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.VisitReportOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.VisitReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnrelatedVisitReport.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlUnrelatedVisitReportToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlUnrelatedVisitReportToList</name>
        <label>assignSrlUnrelatedVisitReportToList</label>
        <locationX>287</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedUnrelatedVisitReport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlVisitReportOppty</name>
        <label>assignSrlVisitReportOppty</label>
        <locationX>447</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVisitReportOppty.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.FollowupReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoBo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.MarketInfoMarket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.VisitReportOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVisitReportOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryReportLine.PrimaryQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopVisitReportOppty.PrimaryQuoteId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSrlVisitReportOpptyToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSrlVisitReportOpptyToList</name>
        <label>assignSrlVisitReportOpptyToList</label>
        <locationX>518</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>lstSummaryReportLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SummaryReportLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedVisitReport</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decionsionQueryUnrelatedVisitReport</name>
        <label>decionsionQueryUnrelatedVisitReport</label>
        <locationX>2319</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>showPurposeOfCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decionsionQueryUnrelatedVisitReportFalse</defaultConnectorLabel>
        <rules>
            <name>decionsionQueryUnrelatedVisitReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateStartVisit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apexGetUnrelatedVisitReport</targetReference>
            </connector>
            <label>decionsionQueryUnrelatedVisitReportTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasAccount</name>
        <label>decisionHasAccount</label>
        <locationX>840</locationX>
        <locationY>1822</locationY>
        <defaultConnector>
            <targetReference>showNoAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>decisionHasAccountTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showWelcome</targetReference>
            </connector>
            <label>decisionHasAccountTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasFollowupReports</name>
        <label>decisionHasFollowupReports</label>
        <locationX>2042</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>assignMarketinfoBoFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasFollowupReportsFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasFollowupReportsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstFollowupReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showFollowupReports</targetReference>
            </connector>
            <label>decisionHasFollowupReportsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasMarketinfoBo</name>
        <label>decisionHasMarketinfoBo</label>
        <locationX>2304</locationX>
        <locationY>2290</locationY>
        <defaultConnector>
            <targetReference>assignMarketinfoMarketFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasMarketinfoBoFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasMarketinfoBoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstMarketinfoBo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showMarketinfoBo</targetReference>
            </connector>
            <label>decisionHasMarketinfoBoTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasMarketinfoMarket</name>
        <label>decisionHasMarketinfoMarket</label>
        <locationX>2486</locationX>
        <locationY>1786</locationY>
        <defaultConnector>
            <targetReference>assignLstVisitreportFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasMarketinfoMarketFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasMarketinfoMarketTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstMarketinfoMarket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showMarketinfoMarket</targetReference>
            </connector>
            <label>decisionHasMarketinfoMarketTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasOpportunities</name>
        <label>decisionHasOpportunities</label>
        <locationX>1241</locationX>
        <locationY>1726</locationY>
        <defaultConnector>
            <targetReference>showNoOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasOpportunitiesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasOpportunitiesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showOpportunties</targetReference>
            </connector>
            <label>decisionHasOpportunitiesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasOpportunity</name>
        <label>decisionHasOpportunity</label>
        <locationX>542</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>assignSrlMiMarketToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonHasOpportunityFalse</defaultConnectorLabel>
        <rules>
            <name>decisonHasOpportunityTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopMarketinfoMarket.OpportunityId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrlMiMarketOppty</targetReference>
            </connector>
            <label>decisonHasOpportunityTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedFollowupReports</name>
        <label>decisionHasSelectedFollowupReports</label>
        <locationX>2054</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>assignMarketinfoBoFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedFollowupReportsFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedFollowupReportsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedFollowupReports</targetReference>
            </connector>
            <label>decisionHasSelectedFollowupReportsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedMarketinfoBo</name>
        <label>decisionHasSelectedMarketinfoBo</label>
        <locationX>2702</locationX>
        <locationY>2180</locationY>
        <defaultConnector>
            <targetReference>assignMarketinfoMarketFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedMarketinfoBoFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedMarketinfoBoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedMarketinfoBo</targetReference>
            </connector>
            <label>decisionHasSelectedMarketinfoBoTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedOpportunity</name>
        <label>decisionHasSelectedOpportunity</label>
        <locationX>1549</locationX>
        <locationY>1935</locationY>
        <defaultConnector>
            <targetReference>showNoOpportunitySelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedOpportunityFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedOpportunityTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedOpportunities</targetReference>
            </connector>
            <label>decisionHasSelectedOpportunityTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedQuoteLines</name>
        <label>decisionHasSelectedQuoteLines</label>
        <locationX>1819</locationX>
        <locationY>2068</locationY>
        <defaultConnector>
            <targetReference>showNoSelectedQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedQuoteLinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedQuoteLinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedQuoteLines</targetReference>
            </connector>
            <label>decisionHasSelectedQuoteLinesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedVisitReport</name>
        <label>decisionHasSelectedVisitReport</label>
        <locationX>2100</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>showNoSelectedUnrelatedVisitReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedVisitReportFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedVisitReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedUnrelatedVisitReports</targetReference>
            </connector>
            <label>decisionHasSelectedVisitReportTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSelectedVisitreportOppty</name>
        <label>decisionHasSelectedVisitreportOppty</label>
        <locationX>2731</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>assignLstUnrelatedVisitReportFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSelectedVisitreportOpptyFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSelectedVisitreportOpptyTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedVisitreportOppty</targetReference>
            </connector>
            <label>decisionHasSelectedVisitreportOpptyTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasSummaryReport</name>
        <label>decisionHasSummaryReport</label>
        <locationX>951</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>finishFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasSummaryReportFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasSummaryReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>summaryReportId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupSummaryReport</targetReference>
            </connector>
            <label>decisionHasSummaryReportTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasVisitreportOppty</name>
        <label>decisionHasVisitreportOppty</label>
        <locationX>2904</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>assignLstUnrelatedVisitReportFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasVisitreportOpptyFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasVisitreportOpptyTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstVisitreportOppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showVisitreportOppty</targetReference>
            </connector>
            <label>decisionHasVisitreportOpptyTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisonHasQuoteLines</name>
        <label>decisonHasQuoteLines</label>
        <locationX>1683</locationX>
        <locationY>2368</locationY>
        <defaultConnector>
            <targetReference>showNoQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisonHasQuoteLinesFalse</defaultConnectorLabel>
        <rules>
            <name>decisonHasQuoteLinesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstQuoteLine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showQuoteLines</targetReference>
            </connector>
            <label>decisonHasQuoteLinesTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasSelectedMarketinfoMarket</name>
        <label>hasSelectedMarketinfoMarket</label>
        <locationX>2480</locationX>
        <locationY>1517</locationY>
        <defaultConnector>
            <targetReference>assignLstVisitreportFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasSelectedMarketinfoMarketFalse</defaultConnectorLabel>
        <rules>
            <name>hasSelectedMarketinfoMarketTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rowSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectedMarketinfoMarket</targetReference>
            </connector>
            <label>hasSelectedMarketinfoMarketTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasVisitReports</name>
        <label>hasVisitReports</label>
        <locationX>2322</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>showNoVisitReports</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasVisitReportsFalse</defaultConnectorLabel>
        <rules>
            <name>hasVisitReportsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showUnrelatedVisitReports</targetReference>
            </connector>
            <label>hasVisitReportsTrue</label>
        </rules>
    </decisions>
    <description>This (Screen) Flow guides the user through a numebr of steps in order to create a SummaryReport__c / SummaryReportLine__c construct. Used to create a Customer Summary Document (Webmerge).</description>
    <dynamicChoiceSets>
        <name>picklistChoiceBoType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DummyBoType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaColdOpptyClause</name>
        <dataType>Boolean</dataType>
        <expression>NOT ({!checkboxExcludeColdOppty})</expression>
    </formulas>
    <formulas>
        <description>Returns the RecordTypeId for &apos;Customer_Report&apos;</description>
        <name>formulaRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.RecordTypeIds__c.RTIDSummaryReportCustomerReport__c}</expression>
    </formulas>
    <interviewLabel>Create Customer Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer Summary Flow</label>
    <loops>
        <name>loopSelectedFur</name>
        <label>loopSelectedFur</label>
        <locationX>1071</locationX>
        <locationY>1400</locationY>
        <assignNextValueToReference>loopFollowupReport</assignNextValueToReference>
        <collectionReference>lstSelectedFollowupReport</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlFollowupReport</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedMiBo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedMiBo</name>
        <label>loopSelectedMiBo</label>
        <locationX>914</locationX>
        <locationY>1402</locationY>
        <assignNextValueToReference>loopMarketinfoBo</assignNextValueToReference>
        <collectionReference>lstSelectedMarketinfoBo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlMiBo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedMiMarket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedMiMarket</name>
        <label>loopSelectedMiMarket</label>
        <locationX>753</locationX>
        <locationY>1403</locationY>
        <assignNextValueToReference>loopMarketinfoMarket</assignNextValueToReference>
        <collectionReference>lstSelectedMarketinfoMarket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlMiMarket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedVisitReport</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedOpportunity</name>
        <label>loopSelectedOpportunity</label>
        <locationX>1438</locationX>
        <locationY>1398</locationY>
        <assignNextValueToReference>loopOpportunity</assignNextValueToReference>
        <collectionReference>lstSelectedOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedQuoteLine</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedQuoteLine</name>
        <label>loopSelectedQuoteLine</label>
        <locationX>1244</locationX>
        <locationY>1403</locationY>
        <assignNextValueToReference>loopQuoteLine</assignNextValueToReference>
        <collectionReference>lstSelectedQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlQuoteLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedFur</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedUnrelatedVisitReport</name>
        <label>loopSelectedUnrelatedVisitReport</label>
        <locationX>295</locationX>
        <locationY>1390</locationY>
        <assignNextValueToReference>loopUnrelatedVisitReport</assignNextValueToReference>
        <collectionReference>lstSelectedVisitReport</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlUnrelatedVisitReport</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createSummaryReportLIne</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedVisitReport</name>
        <label>loopSelectedVisitReport</label>
        <locationX>524</locationX>
        <locationY>1402</locationY>
        <assignNextValueToReference>loopVisitReportOppty</assignNextValueToReference>
        <collectionReference>lstSelectedVisitreportOppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSrlVisitReportOppty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedUnrelatedVisitReport</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSummaryReport</name>
        <label>createSummaryReport</label>
        <locationX>1593</locationX>
        <locationY>1401</locationY>
        <assignRecordIdToReference>summaryReportId</assignRecordIdToReference>
        <connector>
            <targetReference>loopSelectedOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>finishFlow</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>inputPurpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDate__c</field>
            <value>
                <elementReference>inputReportdate</elementReference>
            </value>
        </inputAssignments>
        <object>SummaryReport__c</object>
    </recordCreates>
    <recordCreates>
        <name>createSummaryReportLIne</name>
        <label>createSummaryReportLIne</label>
        <locationX>530</locationX>
        <locationY>1057</locationY>
        <connector>
            <targetReference>showPrincipalReportFinish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>finishFlow</targetReference>
        </faultConnector>
        <inputReference>lstSummaryReportLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>lookupAccount</name>
        <label>lookupAccount</label>
        <locationX>399</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showNoAccount</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupSummaryReport</name>
        <label>lookupSummaryReport</label>
        <locationX>1321</locationX>
        <locationY>1049</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>navigateSummaryReportRecordPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>summaryReportId</elementReference>
            </value>
        </filters>
        <object>SummaryReport__c</object>
        <outputReference>summaryReport</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>finishFlow</name>
        <label>finishFlow</label>
        <locationX>960</locationX>
        <locationY>1268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgFinishFlow</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Could not navigate to the Summary Report Record Page&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgFault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFollowupReports</name>
        <label>showFollowupReports</label>
        <locationX>2048</locationX>
        <locationY>1807</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSelectedFollowupReports</targetReference>
        </connector>
        <fields>
            <name>msgSelectFollowupReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Follow-up Reports&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showFollowupReportsLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_FollowUpReport__c</name>
                <value>
                    <elementReference>lstFollowupReport</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstFollowupReportFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedFollowupReport</assignToReference>
                <name>OUT_FollowUpReport__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showInputParams</name>
        <label>showInputParams</label>
        <locationX>1095</locationX>
        <locationY>1989</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignOpportunityFields</targetReference>
        </connector>
        <fields>
            <name>msgInputParams</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please provide the parameters you would like to use to search for relevant data related to {!account.Name}. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgPeriod</name>
            <fieldText>&lt;br&gt;
Define the period to which you&apos;d like to constrain the results. These dates will be applied to the &lt;b&gt;Opportunity Close date&lt;/b&gt;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dateStart</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Opportunities with a Close Date after the Start Date will be included.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dateEnd</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Opportunities with a Close Date before the End Date will be included.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkboxBoType</name>
            <choiceReferences>picklistChoiceBoType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BO Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Select at minimum one value.  Undetermined is used for those Opportunities not having a valid BO Type (e.g. Replacement or Development). Select this value so you don&apos;t miss out on data.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>msgLob</name>
            <fieldText>Select the relevant Opportunity LOB to constrain the results. Specifying the LOB will only take opportunities and related data for the specified LOB into consideration.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcPicklistLob</name>
            <extensionName>c:PicklistSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>LOB1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>selectedLob</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>class</name>
                <value>
                    <stringValue>slds-size_3-of-6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedLob</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dummyBreak</name>
            <fieldText>&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkboxKeyOppty</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Only Key Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>If checked only &apos;Key&apos; Opportunities will be part of result. If left unchecked both Key and non-Key opportunities will be selected. This applies to both Opportunities as well as Opportunity/Quote lines (e.g. an Opportunity marked as key might have both Key and non-Key lines, if you&apos;d select &apos;Only Key Opportunities&apos; you will only see Opportunities which are marked as key, as well as only see Opportunity/Quote Lines marked as key).</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkboxExcludeColdOppty</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Exclude Cold Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Uncheck this if you want the results to include lines for Cold opportunities.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checboxExcludeLostLines</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Exclude Lost Lines</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Uncheck this if you want the results to include Lost lines. This checkbox only applies to the Lines. This option only applies to the Opportunity/Quote lines, not to the selection of the Opportunities (e.g. these might or might nog have Lost lines).</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showMarketinfoBo</name>
        <label>showMarketinfoBo</label>
        <locationX>2707</locationX>
        <locationY>2292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSelectedMarketinfoBo</targetReference>
        </connector>
        <fields>
            <name>msgMarketinfoBo</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Market Info BO&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showMarketinfoBoLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoBO__c</name>
                <value>
                    <elementReference>lstMarketinfoBo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstMarketinfoBoFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedMarketinfoBo</assignToReference>
                <name>OUT_MarketInfoBO__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showMarketinfoMarket</name>
        <label>showMarketinfoMarket</label>
        <locationX>2490</locationX>
        <locationY>1644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>hasSelectedMarketinfoMarket</targetReference>
        </connector>
        <fields>
            <name>msgMarketinfoMarket</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Market Info Market&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showMarketinfoMarketLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoMarket__c</name>
                <value>
                    <elementReference>lstMarketinfoMarket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstMarketinfoMarketFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedMarketinfoMarket</assignToReference>
                <name>OUT_MarketInfoMarket__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoAccount</name>
        <label>showNoAccount</label>
        <locationX>850</locationX>
        <locationY>1980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoAccount</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Flow can only be started from a Customer record. &lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoOpportunities</name>
        <label>showNoOpportunities</label>
        <locationX>1093</locationX>
        <locationY>1723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgNoOpportunities</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mmm.... Your criteria didn&apos;t result in any opportunities. You can go back (&apos;Previous&apos; button) and widen your criteria (or exit the flow).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoOpportunitySelected</name>
        <label>showNoOpportunitySelected</label>
        <locationX>1364</locationX>
        <locationY>1821</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showOpportunties</targetReference>
        </connector>
        <fields>
            <name>msgNoOpportunitySelected</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You need to select at minimum one Opportunity for your Principal report.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoQuoteLines</name>
        <label>showNoQuoteLines</label>
        <locationX>1691</locationX>
        <locationY>2544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageNoQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Sorry, the selected Opportunity or Opportunities should have one or more product(s). It&amp;apos;s not possible to create a customer summary report for this selection. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedQuoteLines</name>
        <label>showNoSelectedQuoteLines</label>
        <locationX>2058</locationX>
        <locationY>2254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageNoSelectedQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You have to select at minimum one or more quote line(s), otherwise you cannot continue creating your customer summary report. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoSelectedUnrelatedVisitReport</name>
        <label>showNoSelectedUnrelatedVisitReport</label>
        <locationX>1900</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showPurposeOfCall</targetReference>
        </connector>
        <fields>
            <name>msgNoSelectedUnrelatedVisitReport</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;You did not select any Visit Report. You can click &apos;Next&apos; to continue or use the &apos;Previous&apos; button to select a report.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoVisitReports</name>
        <label>showNoVisitReports</label>
        <locationX>2604</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>showQueryUnrelatedVisitReports</targetReference>
        </connector>
        <fields>
            <name>msgNoVisitReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;No Visit Reports have been found for {!account.Name} with a Visit Date between {!dateStartVisit} and {!dateEndVisit}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showOpportunties</name>
        <label>showOpportunties</label>
        <locationX>1557</locationX>
        <locationY>1728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSelectedOpportunity</targetReference>
        </connector>
        <fields>
            <name>msgSelectOpportunities</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Opportunities&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showOpportunitiesLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Opportunity</name>
                <value>
                    <elementReference>lstOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstOpportunityFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedOpportunity</assignToReference>
                <name>OUT_Opportunity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPrincipalReportFinish</name>
        <label>showPrincipalReportFinish</label>
        <locationX>747</locationX>
        <locationY>1044</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSummaryReport</targetReference>
        </connector>
        <fields>
            <name>msgPrincipalReportFinish</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Your Customer Summary Reports has been created succesfully! You can now create the Summary Document using the &amp;apos;Create Summary Document&amp;apos; button.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPurposeOfCall</name>
        <label>showPurposeOfCall</label>
        <locationX>1765</locationX>
        <locationY>1401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createSummaryReport</targetReference>
        </connector>
        <fields>
            <name>msgPurpose</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Purpose of Call&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputReportdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>You can change the Visit Report date. This date will be part of the printable (PDF) version of this Principal report.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputPurpose</name>
            <fieldText>What&apos;s the purpose of this Call?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showQueryUnrelatedVisitReports</name>
        <label>showQueryUnrelatedVisitReports</label>
        <locationX>2335</locationX>
        <locationY>1034</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decionsionQueryUnrelatedVisitReport</targetReference>
        </connector>
        <fields>
            <name>msgUnrelatedVisitReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Would you like to include Visit Reports for {!account.Name} which aren&apos;t related with any Opportunities? In that case please provide a period for which you would like to extract and select Visit Reports. Leaving Start and End Dates empty will by-pass this step. Defaults to the period you defined already.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dateStartVisit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>The Start Date applies to the &apos;Visit Date&apos; of the Visit Reports. Any Visit Report with a &apos;Visit Date&apos; between Start and End dates will be shown.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dateEndVisit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>selectedEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>The End Date applies to the &apos;Visit Date&apos; of the Visit Reports. Any Visit Report with a &apos;Visit Date&apos; between Start and End dates will be shown.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showQuoteLines</name>
        <label>showQuoteLines</label>
        <locationX>1827</locationX>
        <locationY>2224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSelectedQuoteLines</targetReference>
        </connector>
        <fields>
            <name>msgSelectQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Quote Lines&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showQuoteLinesLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstQuoteLine</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedQuoteLines</assignToReference>
                <name>OUT_SBQQ__QuoteLine__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedFollowupReports</name>
        <label>showSelectedFollowupReports</label>
        <locationX>2056</locationX>
        <locationY>2047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignMarketinfoBoFields</targetReference>
        </connector>
        <fields>
            <name>msgShowSelectedFollowupReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Follow-up Reports&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showSelectedFollowupReportsLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_FollowUpReport__c</name>
                <value>
                    <elementReference>lstSelectedFollowupReport</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstFollowupReportFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedMarketinfoBo</name>
        <label>showSelectedMarketinfoBo</label>
        <locationX>2701</locationX>
        <locationY>2051</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignMarketinfoMarketFields</targetReference>
        </connector>
        <fields>
            <name>msgSelectedMarketinfoBo</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Market Info BO&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showSelectedMarketinfoBoLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoBO__c</name>
                <value>
                    <elementReference>lstSelectedMarketinfoBo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstMarketinfoBoFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedMarketinfoMarket</name>
        <label>showSelectedMarketinfoMarket</label>
        <locationX>2487</locationX>
        <locationY>1377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignLstVisitreportFields</targetReference>
        </connector>
        <fields>
            <name>msgSelectedMarketinfoMarket</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedMarketInfoMarketLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_MarketInfoMarket__c</name>
                <value>
                    <elementReference>lstSelectedMarketinfoMarket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedOpportunities</name>
        <label>showSelectedOpportunities</label>
        <locationX>1364</locationX>
        <locationY>2063</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuoteLineFields</targetReference>
        </connector>
        <fields>
            <name>msgSelectedOpportunities</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Opportunities&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showSelectedOpportuntiesLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Opportunity</name>
                <value>
                    <elementReference>lstSelectedOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstOpportunityFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedQuoteLines</name>
        <label>showSelectedQuoteLines</label>
        <locationX>1829</locationX>
        <locationY>1928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignFollowupReportFields</targetReference>
        </connector>
        <fields>
            <name>msgSelectedQuoteLines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Quote Lines&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showSelectedQuoteLinesLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_SBQQ__QuoteLine__c</name>
                <value>
                    <elementReference>lstSelectedQuoteLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstQuoteLineFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedUnrelatedVisitReports</name>
        <label>showSelectedUnrelatedVisitReports</label>
        <locationX>1994</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showPurposeOfCall</targetReference>
        </connector>
        <fields>
            <name>msgShowSelectedUnrelatedVisitReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Visit Reports&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowSelectedUnrelatedVisitReports</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstUnrelatedVisitReportFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_VisitReport__c</name>
                <value>
                    <elementReference>lstSelectedVisitReport</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedVisitreportOppty</name>
        <label>showSelectedVisitreportOppty</label>
        <locationX>2741</locationX>
        <locationY>869</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignLstUnrelatedVisitReportFields</targetReference>
        </connector>
        <fields>
            <name>msgSelectedVisitreportOppty</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Selected Visit Reports&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showSelectedVisitreportOpptyLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_VisitReportOppty__c</name>
                <value>
                    <elementReference>lstSelectedVisitreportOppty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstVisitreportFields</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showUnrelatedVisitReports</name>
        <label>showUnrelatedVisitReports</label>
        <locationX>2109</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionHasSelectedVisitReport</targetReference>
        </connector>
        <fields>
            <name>msgShowUnrelatedVisitReports</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;The following Visit Reports have been found for {!account.Name} with a Visit Date between {!dateStartVisit} and {!dateEndVisit}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcShowUnrelatedVisitReports</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstUnrelatedVisitReportFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasSelectedRows</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_VisitReport__c</name>
                <value>
                    <elementReference>lstVisitReport</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lstSelectedVisitReport</assignToReference>
                <name>OUT_VisitReport__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showVisitreportOppty</name>
        <label>showVisitreportOppty</label>
        <locationX>2915</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionHasSelectedVisitreportOppty</targetReference>
        </connector>
        <fields>
            <name>msgVisitreportOppty</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Select Visit Reports&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showVisitreportOpptyLC</name>
            <extensionName>c:LightningDatatableWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumberColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_VisitReportOppty__c</name>
                <value>
                    <elementReference>lstVisitreportOppty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstVisitreportFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedVisitreportOppty</assignToReference>
                <name>OUT_VisitReportOppty__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rowSelected</assignToReference>
                <name>hasSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showWelcome</name>
        <label>showWelcome</label>
        <locationX>1095</locationX>
        <locationY>1827</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showInputParams</targetReference>
        </connector>
        <fields>
            <name>msgWelcome</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Flow will allow and guide you through the process to create a Customer Summary document for {!account.Name}. Please start with providing the date range for which you want to select data (the selected range applies to the Opportunity&apos;s Close date).&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lcPeriodSelector</name>
            <extensionName>c:DatePeriodPickerWrapperComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedEndDate</assignToReference>
                <name>endDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookupAccount</startElementReference>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>loopFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>loopMarketinfoBo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoBO__c</objectType>
    </variables>
    <variables>
        <name>loopMarketinfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>loopOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>loopQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>loopUnrelatedVisitReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReport__c</objectType>
    </variables>
    <variables>
        <name>loopVisitReportOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportOppty__c</objectType>
    </variables>
    <variables>
        <name>lstFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>lstFollowupReportFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstMarketinfoBo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoBO__c</objectType>
    </variables>
    <variables>
        <name>lstMarketinfoBoFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstMarketinfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>lstMarketinfoMarketFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstOpportunityFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <description>List of fields to be queried.</description>
        <name>lstQuoteLineFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedMarketinfoBo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoBO__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedMarketinfoMarket</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarketInfoMarket__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>lstSelectedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedVisitReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReport__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedVisitreportOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportOppty__c</objectType>
    </variables>
    <variables>
        <name>lstSummaryReportLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SummaryReportLine__c</objectType>
    </variables>
    <variables>
        <name>lstUnrelatedVisitReportFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstVisitReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReport__c</objectType>
    </variables>
    <variables>
        <name>lstVisitreportFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstVisitreportOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportOppty__c</objectType>
    </variables>
    <variables>
        <name>numRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Account ID to kickoff the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rowSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>selectedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summaryReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SummaryReport__c</objectType>
    </variables>
    <variables>
        <name>summaryReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryReportLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SummaryReportLine__c</objectType>
    </variables>
</Flow>
