flows/Default_Process_Builder_for_Contracted_Price.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Dummy Apex step for Process Builder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Dummy Apex Step</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>DummyClass</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Bypass Enabled?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Trigger Integration?</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.IntegrationSettings__c.EvtCreateContractedPrice__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_3560321628</name>
        <dataType>String</dataType>
        <expression>{!$Setup.IntegrationSettings__c.EvtCreateContractedPrice__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR (
   $Setup.PbBypassContractedPriceCs__c.Bypass__c = true
   , !$Setup.Global_Bypass_Processes_Settings__c.Run_Process_Builder__c
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR (
   {!$Setup.PbBypassContractedPriceCs__c.Bypass__c} = true
   , !{!$Setup.Global_Bypass_Processes_Settings__c.Run_Process_Builder__c}
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR (
	AND (
		ISNEW()
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].Quantity__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].UOM__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Price__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__EffectiveDate__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__ExpirationDate__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Product__c ) )
		, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Account__c ) )
	),
	AND (
		OR (
			ISCHANGED ( [SBQQ__ContractedPrice__c].Quantity__c )
			, ISCHANGED ( [SBQQ__ContractedPrice__c].UOM__c )
			, ISCHANGED ( [SBQQ__ContractedPrice__c].SBQQ__Price__c )
			, ISCHANGED ( [SBQQ__ContractedPrice__c].SBQQ__EffectiveDate__c )
			, ISCHANGED ( [SBQQ__ContractedPrice__c].SBQQ__ExpirationDate__c )
		),
		AND (
			NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].Quantity__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].UOM__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Price__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__EffectiveDate__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__ExpirationDate__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Product__c ) )
			, NOT ( ISBLANK ( [SBQQ__ContractedPrice__c].SBQQ__Account__c ) )
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR (
	AND (
		ISNEW()
		, NOT ( ISBLANK ( {!myVariable_current.Quantity__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.UOM__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Price__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.SBQQ__EffectiveDate__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.SBQQ__ExpirationDate__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Product__c} ) )
		, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Account__c} ) )
	),
	AND (
		OR (
			ISCHANGED ( {!myVariable_current.Quantity__c} )
			, ISCHANGED ( {!myVariable_current.UOM__c} )
			, ISCHANGED ( {!myVariable_current.SBQQ__Price__c} )
			, ISCHANGED ( {!myVariable_current.SBQQ__EffectiveDate__c} )
			, ISCHANGED ( {!myVariable_current.SBQQ__ExpirationDate__c} )
		),
		AND (
			NOT ( ISBLANK ( {!myVariable_current.Quantity__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.UOM__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Price__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.SBQQ__EffectiveDate__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.SBQQ__ExpirationDate__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Product__c} ) )
			, NOT ( ISBLANK ( {!myVariable_current.SBQQ__Account__c} ) )
		)
	)
)</expression>
    </formulas>
    <interviewLabel>Default_Process_Builder_for_Contracted_Price-8_InterviewLabel</interviewLabel>
    <label>Default Process Builder for Contracted Price</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SBQQ__ContractedPrice__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_3_A1</name>
        <label>Create Integration Log</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contracted Price</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>SBQQ__ContractedPrice__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ContractedPrice__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Event__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_3560321628</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <object>IntegrationLog__c</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
