flows/Monitor_Renewal_Quote_Document_and_Email_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postToChatterDocFailed</name>
        <label>postToChatterDocFailed</label>
        <locationX>1736</locationX>
        <locationY>298</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterMessageDocFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>postToChatterEmailFailed</name>
        <label>postToChatterEmailFailed</label>
        <locationX>1727</locationX>
        <locationY>54</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterMessageEmailFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>postToChatterOther</name>
        <label>postToChatterOther</label>
        <locationX>1733</locationX>
        <locationY>169</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterMessageOther</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignFlowCurrentRecord</name>
        <label>assignFlowCurrentRecord</label>
        <locationX>430</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAsyncApexJob1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIncreaseWaitCount</name>
        <label>assignIncreaseWaitCount</label>
        <locationX>1002</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>waitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionMaxWaitCountExceeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOutputError1</name>
        <label>assignOutputError1</label>
        <locationX>195</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please provide a valid Quote ID and Apex Job ID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignOutputError2</name>
        <label>assignOutputError2</label>
        <locationX>492</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNoJobFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Dummy step.</description>
        <name>assignOutputSuccess</name>
        <label>assignOutputSuccess</label>
        <locationX>1296</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decisionApexJobStatus</name>
        <label>decisionApexJobStatus</label>
        <locationX>1205</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>createDebugLogOther</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionApexJobStatusOther</defaultConnectorLabel>
        <rules>
            <name>decisionApexJobStatusCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDebugLogCompleted</targetReference>
            </connector>
            <label>decisionApexJobStatusCompleted</label>
        </rules>
        <rules>
            <name>decisionApexJobStatusFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createDebugLogFailed</targetReference>
            </connector>
            <label>decisionApexJobStatusFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionJobFound</name>
        <label>decisionJobFound</label>
        <locationX>742</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>assignOutputError2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionJobFoundFalse</defaultConnectorLabel>
        <rules>
            <name>decisionJobFoundTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pauseStep</targetReference>
            </connector>
            <label>decisionJobFoundTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionMaxWaitCountExceeded</name>
        <label>decisionMaxWaitCountExceeded</label>
        <locationX>1010</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>pauseStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionMaxWaitCountExceededFalse</defaultConnectorLabel>
        <rules>
            <name>decisionMaxWaitCountExceededTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>waitCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAsyncApexJob2</targetReference>
            </connector>
            <label>decisionMaxWaitCountExceededTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionStatusSent</name>
        <label>decisionStatusSent</label>
        <locationX>990</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>assignIncreaseWaitCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionStatusSentFalse</defaultConnectorLabel>
        <rules>
            <name>decisionStatusSentTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOutputSuccess</targetReference>
            </connector>
            <label>decisionStatusSentTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionValidInputs</name>
        <label>decisionValidInputs</label>
        <locationX>190</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>assignOutputError1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionValidInputsFalse</defaultConnectorLabel>
        <rules>
            <name>decisionValidInputsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apexJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFlowCurrentRecord</targetReference>
            </connector>
            <label>decisionValidInputsTrue</label>
        </rules>
    </decisions>
    <description>This flow monitors the execution of a Renewal Quote. It monitors the status of the Apex Async Job ID passed and the SBQQ__Quote__c.SBQQ__DocumentStatus__c to become &apos;Sent&apos;. If not a Chatter notification is generated, and the issue is logged to the DebugLog__c.</description>
    <formulas>
        <name>debugUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340})) &amp; {!debugRecordId}</expression>
    </formulas>
    <formulas>
        <name>formulaApexJobId</name>
        <dataType>String</dataType>
        <expression>&apos;Apex Job ID = &apos; + {!apexJobId} + &apos;, Status = &apos; + {!jobStatus}</expression>
    </formulas>
    <formulas>
        <description>Base time. 55 minutes in the &apos;past&apos;.</description>
        <name>formulaBasetime</name>
        <dataType>DateTime</dataType>
        <expression>Now() - ( 55/1440 )</expression>
    </formulas>
    <formulas>
        <name>formulaNoJobFound</name>
        <dataType>String</dataType>
        <expression>&apos;Could not find Apex Job with ID: &apos; + {!apexJobId}</expression>
    </formulas>
    <interviewLabel>Monitor Renewal Quote Document and Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitor Renewal Quote Document and Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDebugLogCompleted</name>
        <label>createDebugLogCompleted</label>
        <locationX>1570</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>debugRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>postToChatterEmailFailed</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formulaApexJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>[Monitor Renewal Quote Document and Email Flow] The Apex Job completed succesfully, but the email wasn&apos;t sent for this quote. Please check related DebugLog entries for the Object Id specified in this error.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>DebugLog__c</object>
    </recordCreates>
    <recordCreates>
        <name>createDebugLogFailed</name>
        <label>createDebugLogFailed</label>
        <locationX>1573</locationX>
        <locationY>298</locationY>
        <assignRecordIdToReference>debugRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>postToChatterDocFailed</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formulaApexJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>[Monitor Renewal Quote Document and Email Flow] {!extendedStatus}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>DebugLog__c</object>
    </recordCreates>
    <recordCreates>
        <name>createDebugLogOther</name>
        <label>createDebugLogOther</label>
        <locationX>1573</locationX>
        <locationY>170</locationY>
        <assignRecordIdToReference>debugRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>postToChatterOther</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formulaApexJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>[Monitor Renewal Quote Document and Email Flow] The Apex Job did not (yet) succesfully complete. This indicates the email for this quote was not sent. Please check possible related Debuglog entries for the same Object ID.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>DebugLog__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAsyncApexJob1</name>
        <label>getAsyncApexJob1</label>
        <locationX>588</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteSalesRep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignOutputError2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apexJobId</elementReference>
            </value>
        </filters>
        <object>AsyncApexJob</object>
        <outputAssignments>
            <assignToReference>completedDate</assignToReference>
            <field>CompletedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>extendedStatus</assignToReference>
            <field>ExtendedStatus</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAsyncApexJob2</name>
        <label>getAsyncApexJob2</label>
        <locationX>1023</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionApexJobStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>apexJobId</elementReference>
            </value>
        </filters>
        <object>AsyncApexJob</object>
        <outputAssignments>
            <assignToReference>extendedStatus</assignToReference>
            <field>ExtendedStatus</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>744</locationX>
        <locationY>603</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionStatusSent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__DocumentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>documentStatus</assignToReference>
            <field>SBQQ__DocumentStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuoteSalesRep</name>
        <label>getQuoteSalesRep</label>
        <locationX>750</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionJobFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignOutputError2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>salesRepId</assignToReference>
            <field>SBQQ__SalesRep__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>decisionValidInputs</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>chatterMessageDocFailed</name>
        <text>A problem occurred while processing this renewal quote. Most likely the Quote document failed to be successfully generated. Either check with a local administrator or inspect below error:
{!extendedStatus}
Debug URL: {!debugUrl}
@[{!salesRepId}]</text>
    </textTemplates>
    <textTemplates>
        <name>chatterMessageEmailFailed</name>
        <text>A problem occurred while processing this renewal quote. Most likely the Quote document got successfully generated, but it failed to be successfully sent to the primary contact. 
Debug URL: {!debugUrl}
@[{!salesRepId}]</text>
    </textTemplates>
    <textTemplates>
        <name>chatterMessageOther</name>
        <text>A problem occurred while processing this renewal quote. It looks as the Quote document hasn&apos;t yet been generated, it might still be queued. 
Debug URL: {!debugUrl}
@[{!salesRepId}]</text>
    </textTemplates>
    <variables>
        <description>Apex Job Id to monitor</description>
        <name>apexJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>completedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debugRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>extendedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId of a Renewal Quote (SBQQ__Quote__c)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>waitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <name>pauseStep</name>
        <label>pauseStep</label>
        <locationX>740</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>wait12Minutes</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>getQuote</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formulaBasetime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>wait12Minutes</label>
        </waitEvents>
    </waits>
</Flow>
