flows/Update_Follow_up_Report_Summary_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignConcatExternalComments</name>
        <label>assignConcatExternalComments</label>
        <locationX>777</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>externalComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateAuditLineFormatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFollowupReport.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalCommentsUnformatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateAuditLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalCommentsUnformatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateCRLF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalCommentsUnformatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFollowupReport.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>externalCommentsUnformatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateCRLF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaAuditLineInternalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>internalComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopFollowupReport.InternalComments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLstFollowupReport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFollowupReportSummary</name>
        <label>assignFollowupReportSummary</label>
        <locationX>1110</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>followupReportSummary.ExternalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReportSummary.ExternalCommentUnformatted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalCommentsUnformatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followupReportSummary.InternalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>internalComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionHasFollowupReportSummary</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>decisionHasFollowupReport</name>
        <label>decisionHasFollowupReport</label>
        <locationX>234</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>decisionHasFollowupReportFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasFollowupReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>followUpReport.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFollowupReports</targetReference>
            </connector>
            <label>decisionHasFollowupReportTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasFollowupReportSummary</name>
        <label>decisionHasFollowupReportSummary</label>
        <locationX>782</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>createFollowupReportSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionHasFollowupReportSummaryFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasFollowupReportSummaryTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>followupReportSummary.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionIsNewFollowupReport</targetReference>
            </connector>
            <label>decisionHasFollowupReportSummaryTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasLstFollowupReport</name>
        <label>decisionHasLstFollowupReport</label>
        <locationX>775</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>decisionHasLstFollowupReportFalse</defaultConnectorLabel>
        <rules>
            <name>decisionHasLstFollowupReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstFollowupReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFollowupReportSummary</targetReference>
            </connector>
            <label>decisionHasLstFollowupReportTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionIsNewFollowupReport</name>
        <label>decisionIsNewFollowupReport</label>
        <locationX>556</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>updateFollowupReportSummaryWithUpdatedFUR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionIsNewFollowupReportFalse</defaultConnectorLabel>
        <rules>
            <name>decisionIsNewFollowupReportTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputNewFollowupReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateFollowupReportSummaryWithNewFUR</targetReference>
            </connector>
            <label>decisionIsNewFollowupReportTrue</label>
        </rules>
    </decisions>
    <description>This flow updates the FollowupReportSummary__c object record with a concatenation of the External Comments fields present under the Quote Line (if not hidden). This flow is launched by the Default Process Builder for Follow-up Report.

The Flow has NO exception handling, if it fails the transaction should be rolled-back. Hence the open-ended Decisions (with single branches) are on-purpose.</description>
    <formulas>
        <description>See formulaAuditLineFormatted. This version is w/o the HTML formatting. Just plain text.</description>
        <name>formulaAuditline</name>
        <dataType>String</dataType>
        <expression>IF ( NOT ( ISBLANK ( {!loopFollowupReport.Description__c} ) ), 
    IF (
	{!inputNewFollowupReport}
	, LEFT({!loopFollowupReport.CreatedBy.FirstName}, 1) &amp; &apos;.&apos; &amp; LEFT({!loopFollowupReport.CreatedBy.LastName}, 1) &amp; &apos; &apos; &amp; LEFT(TEXT({!loopFollowupReport.CreatedDate}), 10)
	, LEFT({!loopFollowupReport.LastModifiedBy.FirstName}, 1) &amp; &apos;.&apos; &amp; LEFT({!loopFollowupReport.LastModifiedBy.LastName}, 1) &amp; &apos; &apos; &amp; LEFT(TEXT({!loopFollowupReport.LastModifiedDate}), 10)
    )
, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Formula returns text which appears on the &apos;templateAuditline&apos;. Based on whether its a &apos;new&apos; FUR or an &apos;updated&apos; FUR it takes CreatedData or ModifiedDate respectively. Truncated to LEFT(10) chars (e.g. no time-stamp). If Description__c is empty, the Auditline is empty as well.</description>
        <name>formulaAuditlineFormatted</name>
        <dataType>String</dataType>
        <expression>IF ( NOT ( ISBLANK ( {!loopFollowupReport.Description__c} ) ), 
    IF (
	{!inputNewFollowupReport}
	, &apos;&lt;B&gt;&apos; &amp; LEFT({!loopFollowupReport.CreatedBy.FirstName}, 1) &amp; &apos;.&apos; &amp; LEFT({!loopFollowupReport.CreatedBy.LastName}, 1) &amp; &apos; &apos; &amp; LEFT(TEXT({!loopFollowupReport.CreatedDate}), 10) &amp;  &apos;&lt;/B&gt;&lt;BR/&gt;&apos;
	, &apos;&lt;B&gt;&apos; &amp; LEFT({!loopFollowupReport.LastModifiedBy.FirstName}, 1) &amp; &apos;.&apos; &amp; LEFT({!loopFollowupReport.LastModifiedBy.LastName}, 1) &amp; &apos; &apos; &amp; LEFT(TEXT({!loopFollowupReport.LastModifiedDate}), 10) &amp;  &apos;&lt;/B&gt;&lt;BR/&gt;&apos;
    )
, &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formulaAuditLineInternalComments</name>
        <dataType>String</dataType>
        <expression>IF ( 
   NOT ( ISBLANK ( {!loopFollowupReport.InternalComments__c} ) )
   , {!templateAuditLineFormatted}
   , &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Update Follow-up Report Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Follow-up Report Summary Flow</label>
    <loops>
        <name>loopLstFollowupReport</name>
        <label>loopLstFollowupReport</label>
        <locationX>1102</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>loopFollowupReport</assignNextValueToReference>
        <collectionReference>lstFollowupReport</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignConcatExternalComments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignFollowupReportSummary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the FollowupReportSummary record. 
- CreatedByAudit / LastModifiedByAudit default to the Creator of the FollowupReport
- Name / QuoteLine default to the QuoteLine of the FollowupReport
- ExternalComments contains the concatenated field.</description>
        <name>createFollowupReportSummary</name>
        <label>createFollowupReportSummary</label>
        <locationX>248</locationX>
        <locationY>218</locationY>
        <assignRecordIdToReference>newFollowupReportSummaryId</assignRecordIdToReference>
        <inputAssignments>
            <field>CreatedByAudit__c</field>
            <value>
                <elementReference>followUpReport.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalCommentUnformatted__c</field>
            <value>
                <elementReference>externalCommentsUnformatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalComments__c</field>
            <value>
                <elementReference>externalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalComments__c</field>
            <value>
                <elementReference>internalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastFollowupReport__c</field>
            <value>
                <elementReference>followUpReport.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedByAudit__c</field>
            <value>
                <elementReference>followUpReport.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>followUpReport.QuoteLine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine__c</field>
            <value>
                <elementReference>followUpReport.QuoteLine__c</elementReference>
            </value>
        </inputAssignments>
        <object>FollowupReportSummary__c</object>
    </recordCreates>
    <recordLookups>
        <name>getFollowupReport</name>
        <label>getFollowupReport</label>
        <locationX>38</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasFollowupReport</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FollowUpReport__c</object>
        <outputAssignments>
            <assignToReference>followUpReport.CreatedById</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpReport.Description__c</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpReport.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpReport.InternalComments__c</assignToReference>
            <field>InternalComments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpReport.LastModifiedById</assignToReference>
            <field>LastModifiedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followUpReport.QuoteLine__c</assignToReference>
            <field>QuoteLine__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getFollowupReports</name>
        <label>getFollowupReports</label>
        <locationX>578</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasLstFollowupReport</targetReference>
        </connector>
        <filters>
            <field>QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>followUpReport.QuoteLine__c</elementReference>
            </value>
        </filters>
        <object>FollowUpReport__c</object>
        <outputReference>lstFollowupReport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>InternalComments__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getFollowupReportSummary</name>
        <label>getFollowupReportSummary</label>
        <locationX>1102</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLstFollowupReport</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>followUpReport.QuoteLine__c</elementReference>
            </value>
        </filters>
        <object>FollowupReportSummary__c</object>
        <outputAssignments>
            <assignToReference>followupReportSummary.CreatedByAudit__c</assignToReference>
            <field>CreatedByAudit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followupReportSummary.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followupReportSummary.LastFollowupReport__c</assignToReference>
            <field>LastFollowupReport__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followupReportSummary.LastModifiedByAudit__c</assignToReference>
            <field>LastModifiedByAudit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followupReportSummary.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>followupReportSummary.QuoteLine__c</assignToReference>
            <field>QuoteLine__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateFollowupReportSummaryWithNewFUR</name>
        <label>updateFollowupReportSummaryWithNewFUR</label>
        <locationX>250</locationX>
        <locationY>378</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>followupReportSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreatedByAudit__c</field>
            <value>
                <elementReference>followUpReport.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalCommentUnformatted__c</field>
            <value>
                <elementReference>externalCommentsUnformatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalComments__c</field>
            <value>
                <elementReference>externalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalComments__c</field>
            <value>
                <elementReference>internalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastFollowupReport__c</field>
            <value>
                <elementReference>followUpReport.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedByAudit__c</field>
            <value>
                <elementReference>followUpReport.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>FollowupReportSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateFollowupReportSummaryWithUpdatedFUR</name>
        <label>updateFollowupReportSummaryWithUpdatedFUR</label>
        <locationX>253</locationX>
        <locationY>561</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>followupReportSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalCommentUnformatted__c</field>
            <value>
                <elementReference>externalCommentsUnformatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalComments__c</field>
            <value>
                <elementReference>externalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalComments__c</field>
            <value>
                <elementReference>internalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedByAudit__c</field>
            <value>
                <elementReference>followUpReport.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <object>FollowupReportSummary__c</object>
    </recordUpdates>
    <startElementReference>getFollowupReport</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Unformatted, plain text.</description>
        <name>templateAuditLine</name>
        <text>{!formulaAuditline}</text>
    </textTemplates>
    <textTemplates>
        <name>templateAuditLineFormatted</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!formulaAuditlineFormatted}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Just a CRLF. This looks weird. But basically we&apos;re just forcing a text template to contain a CRLF.</description>
        <name>templateCRLF</name>
        <text>{!constEmptyString}
{!constEmptyString}</text>
    </textTemplates>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>externalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Just long-text. Using templateCRLF to include breaks.</description>
        <name>externalCommentsUnformatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followUpReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>followupReportSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowupReportSummary__c</objectType>
    </variables>
    <variables>
        <name>inputNewFollowupReport</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputUpdateFollowupReport</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>internalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>lstFollowupReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FollowUpReport__c</objectType>
    </variables>
    <variables>
        <name>newFollowupReportSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
